service-papi-services/src/main/mule/service-papi-services.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="service-papi-services-main">
        <http:listener config-ref="service-papi-services-httpListenerConfig" path="/services/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="service-papi-services-config" />
		<error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="service-papi-services-console">
        <http:listener config-ref="service-papi-services-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="service-papi-services-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\v1\referred\activeLines:service-papi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="2edfc548-39f2-4354-8330-8de1e9daf111" name="get-referredActiveLines-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\referred:service-papi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="35300166-89b2-4dcc-bc70-e738aba6cba6" name="get-infoReferred-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\clientes\recuperacion-experiencia:service-papi-services-config">
		<flow-ref doc:name="Go to Handler" doc:id="8ed189b3-a2a4-4e69-b54c-83ce2512e6ae" name="get-recuperacionExperiencia-handlerSub_Flow"/>
    </flow>
    <flow name="post:\v1\referred:application\json:service-papi-services-config" doc:id="ed1aa7d5-26a7-47a6-818e-98801ee6436b">
        <flow-ref doc:name="Go to Handler" doc:id="972ceaab-99a3-409b-bf1a-c5a9564733f5" name="post-referred-handler" />
    </flow>
    <flow name="delete:\v1\referred:application\json:service-papi-services-config" doc:id="cacb8932-92ec-4cf7-b5a9-930ab01fe6dc">
        <flow-ref doc:name="Go to Handler" doc:id="376be1f5-078f-4236-9ab8-ee1a13c0e3ad" name="delete-referred-handler" />
    </flow>
    <flow name="get:\v1\referred\quotas:service-papi-services-config">
		<flow-ref doc:name="Go to handler" doc:id="bc989513-dd26-4862-b1f6-33e4e53e1603" name="get-referredQuotas-handlerSub_Flow"/>
    </flow>
    <flow name="post:\v1\clientes\contactos-frecuentes:application\json:service-papi-services-config">
		<flow-ref doc:name="Get variables logs" doc:id="f296bbef-70e5-4799-a16d-e1e98a25479e" name="processAndSystem-logginSub_Flow" />
		<flow-ref doc:name="Go to Handler" doc:id="65469472-950d-4979-82ba-30cab4fd910b" name="post-contactosFrecuentes-handlerSub_Flow"/>
    </flow>
    <flow name="post:\v1\cambioSuscriptorLTECorp:application\json:service-papi-services-config" doc:id="81c9c193-16e2-4566-842e-211ef8a0616d" >
		<flow-ref doc:name="Go to handler" doc:id="1adbef15-edeb-48c5-95a9-fa9aef5b92ee" name="post-cambioSuscriptorLTECorp-handlerSub_Flow"/>
	</flow>
    <flow name="post:\v1\ordenes\movilidad\(id)\activate:application\json:service-papi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="a6df246f-ff52-48f8-8530-58422cee4971" name="post-activateLine-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\ordenes\movilidad\disponibilidad:service-papi-services-config">
        <flow-ref doc:name="get-disponibilidad-handlerSub_Flow" doc:id="429cc816-5e90-4ffb-add2-608b624e508a" name="get-disponibilidad-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\ordenes\movilidad\recargar:application\json:service-papi-services-config" doc:id="0bb848f7-97ba-4a8b-b69e-413402f13595">
        <flow-ref doc:name="Go to Handler" doc:id="0d5e20ca-a8c0-4acb-9cc5-2ba0ceef4b50" name="post-rechargeLine-handlerSub_Flow" />
    </flow>
    <flow name="delete:\v1\operations\subscription\(connectionNumber):service-papi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="957b057d-a4b7-4676-9d5b-1bdc3e5e5c52" name="delete-cancellation-handlerSub_Flow" />
    </flow>
    <flow name="patch:\v1\operations\subscription\(connectionNumber):application\json:service-papi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="c709e813-9db2-4e7f-bc35-e9a674f35807" name="patch-subscription-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\replacement:application\json:service-papi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="74b0d942-a3c5-448b-a132-f33dfd65b6a0" name="post-replacement-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\replacement\plan:application\json:service-papi-services-config" doc:id="0ec9a7af-2772-425f-a31d-099280202c5f">
        <flow-ref doc:name="Go to handler" doc:id="36b0db99-d8af-4e27-894e-50e5307dcc88" name="post-replacement-plan-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\provisioningLTECorp:application\json:service-papi-services-config">
        <flow-ref doc:name="Get variables logs" doc:id="b72d714c-007c-4dca-85c6-03bc4c6b91d2" name="processAndSystem-logginSub_Flow" />
        <flow-ref doc:name="Go to handler" doc:id="c7e5fa99-4c17-4cb4-b256-946aecb834d4" name="post-provisioningLTECorp-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\sva:application\json:service-papi-services-config" doc:id="579ddfbd-60a5-4dfa-b2d2-213441c8f455">
        <flow-ref doc:name="Go to handler" doc:id="327b597b-be97-4618-92c5-2202e1abf1ae" name="post-sva-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\svas\(id):service-papi-services-config" doc:id="6f980d51-c183-41c6-b9e5-586b82c5eec5">
        <flow-ref doc:name="Go to Handler" doc:id="d3e5d2da-fdd5-406d-b176-5c920b77af71" name="get-servicios-svas-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\bagsOffer:service-papi-services-config" doc:id="cd96277a-d822-4cba-b20a-754bf1110f4b">
        <flow-ref doc:name="Go to handler" doc:id="5638cc84-7237-4ba6-8740-7f3ece385bfc" name="get-bagsOffer-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\svas:application\json:service-papi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="dded5971-451e-43c1-ac29-89284d9783e9" name="post-servicios-svas-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\replacement\planLteCorp:application\json:service-papi-services-config" doc:id="b8616c50-076a-4c8e-bbef-1f8217af837b">
        <flow-ref doc:name="Go to Handler" doc:id="6a0ab244-e29e-43be-9bbd-a341caee48bf" name="post-replacement-plan-lteCorp-handlerSub_Flow" />
    </flow>
    <flow name="delete:\v1\bolsaCompartidaLTECorp:service-papi-services-config">
        <flow-ref doc:name="Get variables logs" doc:id="4947bbd4-9f0a-4a5b-8535-25107c200526" name="processAndSystem-logginSub_Flow" />
        <flow-ref doc:name="Go to handler" doc:id="ac05d2c1-ff6b-4d8e-81ba-38c107a06e95" name="delete-bolsaCompartidaLTECorp-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\sva\corp:application\json:service-papi-services-config" doc:id="68b194f9-96ca-4ae0-8bca-e419d10b9263">
        <flow-ref doc:name="Go to Handler" doc:id="4aa6a2ae-40c0-4495-a101-03bee2c475ae" name="post-sva-corp-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\bolsaCompartidaLTECorp:service-papi-services-config" doc:id="667e07b0-24e5-46eb-803b-fdf1ed32030d">
        <flow-ref doc:name="Go to Handler" doc:id="93ca1162-ed6c-44a2-9c93-d7bcd3122093" name="post-bolsaCompartidaCorp-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\apnPrivadoALineaLTE:application\json:service-papi-services-config" doc:id="aab4ad86-2a67-401d-8df0-b6e40fbd8d24">
        <flow-ref doc:name="Go to Handler" doc:id="d032a95b-f6fc-4ade-883e-fa0d576a8f52" name="post-apnPrivadoALineaLTE-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\subscription\balance:service-papi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="c7e122eb-8e99-4779-be50-c9947461267a" name="get-balance-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\balance\(externalID):service-papi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="e9703df4-2b77-43f8-aeb7-4d8c0c03c075" name="get-balance-structured-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\transferbalance:application\json:service-papi-services-config">
		<flow-ref doc:name="Go to post-transferbalance-handlerSub_Flow" doc:id="03a55777-22df-4c65-801f-f7561252dabd" name="post-transferbalance-handlerSub_Flow"/>
    </flow>
	<flow name="get-data-for-promocion-sva-masivo" doc:id="7c90282c-636e-42cf-bba2-1549ffc274ab" >
		<scheduler doc:name="Scheduler" doc:id="e498b218-57d8-467d-8fe1-64bb822fdd15" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Go to handler" doc:id="a7a764d6-b0b7-4225-822a-c5f85dfa02c6" name="get-data-for-promocion-sva-handlerSub_Flow"/>
	</flow>
	<flow name="get:\v1\serviceOrder:service-papi-services-config" doc:id="7d93d4e4-0059-4f2b-bd91-dd1773924073" >
		<flow-ref doc:name="Flow Reference" doc:id="9caa39c7-a2f3-48bb-ab41-7a59d2c4cf3c" name="get-service-order-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\v1\serviceOrder:application\json:service-papi-services-config" doc:id="e0963770-de58-458d-a411-d345173ea978" >
		<flow-ref doc:name="Flow Reference" doc:id="616ee017-42bf-45eb-a8fe-8344aa50afec" name="service-order-orchestratorSub_Flow"/>
	</flow>
	<flow name="get:\v1\resource:service-papi-services-config" doc:id="5e42d4b3-3d7e-431a-9a95-fa926a498f0b" >
		<flow-ref doc:name="Flow Reference" doc:id="e8ea28bf-a203-4238-b185-4a2cd2c1209e" name="get-resource-handlerSub_Flow"/>
	</flow>
	<flow name="get:\v1\service:service-papi-services-config" doc:id="9f409942-c67f-4075-8d0d-62c8ff99d603" >
		<flow-ref doc:name="Flow Reference" doc:id="4b3d211e-ae99-42c3-ae67-31bc0c68ea04" name="get-service-orchestratorSub_Flow"/>
	</flow>
</mule>
