customer-papi-services/src/main/mule/customer-papi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="customer-papi-services-main" doc:id="a3e53617-812f-4551-92aa-d25bb5572e92" >
		<http:listener doc:name="Listener" doc:id="6045d547-9bf0-4e6d-98d0-44913676e99f" config-ref="customer-papi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<choice doc:name="Choice" doc:id="ad668f89-a27e-4538-8e63-be9ed29a73cc" >
			<when expression='#[attributes.requestPath != "/v1/paymentMethod"]'>
				<flow-ref doc:name="Flow Reference" doc:id="470a13a8-d996-4c39-9df4-f6e25d9d44fb" name="initial-loggin-Sub_Flow" />
			</when>
		</choice>
		<apikit:router doc:id="d6ee5d6e-a93e-4baa-9ce9-442fc9bc28f2" config-ref="customer-papi-services-config" doc:name="APIkit Router" />
		<async doc:name="Async" doc:id="2e1c6195-108c-4ffe-a901-74244a12dc50" >
			<flow-ref doc:name="Call logger" doc:id="acc4071a-6346-4f4d-8199-88ef55618e3d" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="customer-papi-services-console" doc:id="4f6cac97-525e-4d3a-be33-7872dd098bc9" >
		<http:listener doc:name="Listener" doc:id="d7d6a120-b6e1-4871-835a-ba310be2b069" config-ref="customer-papi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="49beb9f9-29ac-44ad-a0d2-f797c3df86d6" config-ref="customer-papi-services-config" doc:name="APIkit Console" />
	</flow>
	<flow name="get:\customer:customer-papi-services-config" doc:id="43f59190-8ad0-4b75-9626-9863b59d3d4b" >
		<flow-ref doc:name="Flow Reference" doc:id="bb766fe7-2fe5-42bd-ad72-c23e15037675" name="get-customer-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\customer:application\json:customer-papi-services-config" doc:id="56349943-43eb-4e7e-8a75-160dba714c8a">
		<flow-ref doc:name="Flow Reference" doc:id="44a059c6-4250-47e5-8b7b-b3f924ff12f8" name="create-customer-orchestratorSub_Flow"/>
	</flow>
	<flow name="patch:\customer:application\json:customer-papi-services-config" doc:id="5d5ab57c-ac53-4fe8-be3f-07d06d463504">
		<flow-ref doc:name="Flow Reference" doc:id="30ba563b-7c13-4b7e-8566-cd0b2388cd85" name="update-customer-orchestratorSub_Flow"/>
	</flow>
	<flow name="get:\productOrder:customer-papi-services-config" doc:id="e6941693-372f-4137-bb2d-94227fda7f90" >
		<flow-ref doc:name="Flow Reference" doc:id="9dbe0496-1c6a-4c39-aaf0-aa5fcb851142" name="product-order-orchestratorSub_Flow" />
	</flow>
	<flow name="get:\customerBill:customer-papi-services-config" doc:id="4a02fba7-18b5-4f32-b073-10e0b7440a9a" >
		<flow-ref doc:name="Flow Reference" doc:id="256674a3-62e7-467c-a1f3-3a5521079207" name="get-customer-bill-orchestratorSub_Flow" />
	</flow>
	<flow name="get:\customerBill\balance:customer-papi-services-config" doc:id="5b399bb8-4a26-4824-a7bc-3e4c37ce2d5c" >
		<flow-ref doc:name="Flow Reference" doc:id="16e78df7-98bb-40de-9bdf-c6b0d98576eb" name="post-getbalance-bill-orchestratorSub_Flow"/>
	</flow>
	<flow name="get:\customerBill\clearance:customer-papi-services-config" doc:id="49f80670-fbc1-4ac7-8ecd-b889124b8e21">
		<flow-ref doc:name="Flow Reference" doc:id="0a2463d5-07dd-4810-a2e4-1a428196f49a" name="post-getclearance-bill-orchestratorSub_Flow"/>
	</flow>
	<flow name="get:\riskManagement:customer-papi-services-config" doc:id="fde03258-015a-40cb-b50a-6dfe85ab6105" >
		<flow-ref doc:name="Flow Reference" doc:id="1b35bfd5-f1f9-491e-9a2b-d63a40503da8" name="get-riskManagement-orchestratorSub_Flow"/>
	</flow>
	<flow name="get:\customerBill\debts:customer-papi-services-config" doc:id="8a1c87ca-cab4-4c6e-883f-e0796be9f65b" >
		<flow-ref doc:name="Flow Reference" doc:id="6aa2e854-e97d-449c-9917-35364089c36e" name="post-debts-bill-orchestratorSub_Flow" />
	</flow>
	<flow name="post:\customer\authorizationTdp:application\json:customer-papi-services-config" doc:id="204f34f9-91f9-4e3a-b91c-edf7917e8d5f" >
		<flow-ref doc:name="Flow Reference" doc:id="d9076204-c55b-44ad-8f89-4624261cf4a2" name="post-customer-authorization-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\productOrder:application\json:customer-papi-services-config" doc:id="5aab772f-1e9f-4c8f-a1fb-93c4cf7cf4c6" >
		<flow-ref doc:name="Flow Reference" doc:id="b28781f5-d5c1-4fd9-b7f0-e29b200c7585" name="post-product-order-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\customerBill\billPresentationMedia:application\json:customer-papi-services-config" doc:id="a109b5b9-0a7b-4499-8d9c-82d847052755" >
		<flow-ref doc:name="Flow Reference" doc:id="1774ecab-5b63-4b05-b03b-c56bf2a6c288" name="post-billPresentationMedia-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\productOrder\nip:application\json:customer-papi-services-config" doc:id="bc80784e-b05b-4f19-b6f1-919dd5aa5257" >
		<flow-ref doc:name="Flow Reference" doc:id="8e2708f3-fa13-40ff-af7b-24a058a96c5a" name="post-product-order-npi-orchestratorSub_Flow"/>
	</flow>
	<flow name="get:\paymentMethod:customer-papi-services-config" doc:id="c0d8094d-80b5-4bd8-9b2a-57056993ce0d" >
		<flow-ref doc:name="Flow Reference" doc:id="6659bd6f-bec5-4a40-b0be-a22f168b4ed9" name="get-payment-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\paymentMethod\inactive:application\json:customer-papi-services-config" doc:id="9ce57a94-47b4-49d9-b8d2-2f1892564734" >
		<flow-ref doc:name="Flow Reference" doc:id="5f425095-d588-4291-bd6e-47b0e82124a7" name="post-payment-inactive-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\paymentMethod:application\json:customer-papi-services-config" doc:id="e19ee649-c38f-4cd6-b63e-cbbc827a7380" >
		<flow-ref doc:name="Flow Reference" doc:id="8c1772ee-485c-4677-a7e6-2668459f3a89" name="post-payment-insert-orchestratorSub_Flow"/>
	</flow>
</mule>
