common-xapi-services/src/main/mule/common-xapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="common-xapi-services-main" doc:id="a5dca997-9513-4b41-bae0-c99831f0131a" >
		<http:listener doc:name="Listener" doc:id="b2503dc4-aa64-4777-8fd7-588dd7da1b8a" config-ref="common-xapi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		 <flow-ref doc:name="Flow Reference" doc:id="f6e2ab24-2f77-4a75-9207-ededb85428cb" name="initial-loggin-Sub_Flow" />
		<apikit:router config-ref="common-xapi-services-config" />
		<async doc:name="Async" doc:id="878242ed-80f9-413b-898f-4c6d95542877" >
			<flow-ref doc:name="Call logger" doc:id="a6ad1091-9a29-48c6-b89a-70b68c404213" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="common-xapi-services-console" doc:id="0e41bbbd-18f7-4e2c-966b-f195ba8894b3" >
		<http:listener doc:name="Listener" doc:id="a84f6d29-5a41-4ae2-83e3-aad3aefe0cea" config-ref="common-xapi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:name="APIkit Console" doc:id="f993ddb8-a91e-47ce-b6e5-e6c3f05a2705" config-ref="common-xapi-services-config" />
	</flow>
	<flow name="post:\troubleTicket:application\json:common-xapi-services-config" doc:id="48a87de3-c83c-439d-94b9-556ca3708e4d" >
		<flow-ref doc:name="Flow Reference" doc:id="4e8afd3f-6c63-41ab-94c2-0194f0570643" name="create-trouble-ticket-orchestratorSub_Flow"/>
	</flow>
	<flow name="patch:\troubleTicket\(id):application\json:common-xapi-services-config" doc:id="2d039ced-4787-4354-9e40-ef1cdd037676" >
		<flow-ref doc:name="Flow Reference" doc:id="72474841-b40b-4a20-a7dc-44fa0b2c05d0" name="patch-trouble-ticket-orchestratorSub_Flow"/>
	</flow>
	<flow name="get:\troubleTicket:common-xapi-services-config" doc:id="d837cb86-1f4d-46d6-8e4c-97806128a8db" >
		<flow-ref doc:name="Flow Reference" doc:id="4e73a1d6-2e6f-4535-94fa-d312304f01b1" name="get-trouble-ticket-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\permission:application\json:common-xapi-services-config" doc:id="4e857e7b-d4c5-4e0f-8da2-1ed1086d560e" >
		<flow-ref doc:name="Flow Reference" doc:id="20012d56-651a-4cde-8763-aa4e8b611328" name="permission-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\audit:application\json:common-xapi-services-config" doc:id="c3ce1d3e-fd5c-45f7-961a-6950079249df" >
		<flow-ref doc:name="Flow Reference" doc:id="789ce36f-be34-4484-b2c3-9ff30da95d6a" name="audit-dijin-orchestadorSub_Flow"/>
	</flow>
</mule>
