customer-xapi-services-v2/src/main/mule/customer-xapi-services-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="customer-xapi-services-main" doc:id="b4e109cd-8655-4099-91ad-1959dac6fd85" >
		<http:listener doc:name="Listener" doc:id="0e2db5ba-354c-4923-aa48-6e7ed8117703" config-ref="customer-xapi-services-httpListenerConfig" path="/v2/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Call initial Logger" doc:id="d1fa78e7-f9c5-4bae-bbcb-795fbcbb678a" name="initial-loggin-Sub_Flow" />
		<apikit:router doc:id="8e720648-434b-4ef1-a826-a267c5dc88a8" config-ref="customer-xapi-services-config" doc:name="APIkit Router" />
		<async doc:name="Async" doc:id="55adffd5-960f-4f92-91bb-8276f90d1d05" >
			<flow-ref doc:name="Call logger" doc:id="950f4e55-0479-4c53-8292-2d38e4766000" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="customer-xapi-services-console" doc:id="6420b9da-b14e-4e61-bbe5-916aa27e89fa" >
		<http:listener doc:name="Listener" doc:id="bb122c5c-3fe7-4ce5-ad37-48bcc273483d" config-ref="customer-xapi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="fe632ccd-7ffe-4aad-8068-cc411b8d7344" config-ref="customer-xapi-services-config" doc:name="APIkit Console" />
	</flow>
	<flow name="get:\customer:customer-xapi-services-config" doc:id="e113b5cf-1545-4f7b-8cf4-afbd32bbe86e" >
		<flow-ref doc:name="Flow Reference" doc:id="38bf7e9e-f7a1-4184-bafa-6edaf84b8a32" name="customer-get-customer-papi-v2-clientSub_Flow"/>
	</flow>
</mule>
