problem-management-xapi-services/src/main/mule/problem-management-xapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="problem-management-xapi-services-main" doc:id="b5f21161-8e89-4f45-9631-5534c2331d3b" >
		<http:listener doc:name="Listener" doc:id="7e750487-eaea-4980-a676-d88776f6ea1f" config-ref="problem-management-xapi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Call initial Logger" doc:id="5d251e93-72b9-462a-830f-18606f4a63c4" name="initial-loggin-Sub_Flow" />
		<apikit:router doc:id="a102d903-4204-4828-8d22-2d91f20ada5f" config-ref="problem-management-xapi-services-config" doc:name="APIkit Router" />
		<async doc:name="Async" doc:id="3d7dbe39-1f1a-4504-b00d-6504a3526e43" >
			<flow-ref doc:name="Call logger" doc:id="a969745b-10ba-4215-a2af-72c84bf8491c" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="problem-management-xapi-services-console" doc:id="3f6269c1-a5ec-4b7e-8c40-f25573567835" >
		<http:listener doc:name="Listener" doc:id="53906b3b-7aee-45de-9b38-7280ea02e135" config-ref="problem-management-xapi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="ed314a57-001e-4825-8c6e-8a7606f35e67" config-ref="problem-management-xapi-services-config" doc:name="APIkit Console" />
	</flow>
	<flow name="patch:\serviceProblem\(id):application\json:problem-management-xapi-services-config" doc:id="cdab50a1-bd24-4d3a-94ad-ad9aff3d9a17" >
		<flow-ref doc:name="Flow Reference" doc:id="716d3ff9-fb47-4986-a3f6-feb807d9238a" name="problemManagement-papi-patch-activity-clientSub_Flow"/>
	</flow>
	<flow name="get:\serviceProblem:problem-management-xapi-services-config" doc:id="c700bf6f-559b-4d22-9a4b-0cc9d017ea1c" >
		<flow-ref doc:name="Flow Reference" doc:id="d1e52acc-6cac-47e0-aa46-07f24a916443" name="problemManagement-papi-get-pqr-orders-clientSub_Flow" />
	</flow>
	<flow name="get:\problemGroup:problem-management-xapi-services-config" doc:id="bdeed572-bc97-4e8a-9b7c-05faa97db5ec" >
		<flow-ref doc:name="Flow Reference" doc:id="812cc97e-1972-4ec8-9b4e-19d40d5b7996" name="problemManagement-papi-get-problemGroup-clientSub_Flow" />
	</flow>
	<flow name="get:\service:problem-management-xapi-services-config" doc:id="5a5e31ef-00a2-4421-9779-18fbf3ceaf69" >
		<flow-ref doc:name="Flow Reference" doc:id="711cf2fd-e8f1-4d31-94cd-74b9017ae2b9" name="problemManagement-papi-get-service-clientSub_Flow"/>
	</flow>
</mule>
