common-xapi-services-v2/src/main/mule/common-xapi-services-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="common-xapi-services-main" doc:id="f9dd7fec-61d1-468e-a13b-b9fc469b5495" >
		<http:listener doc:name="Listener" doc:id="49b3f608-005b-43b4-a014-1099cf0cb364" config-ref="common-xapi-services-httpListenerConfig" path="/v2/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router doc:id="3b3a71ac-4e4b-404d-b771-bd465ee450f9" config-ref="common-xapi-services-config" doc:name="APIkit Router" />
	</flow>
	<flow name="common-xapi-services-console" doc:id="f1ed750e-50f9-42bc-af84-78899142fce9" >
		<http:listener doc:name="Listener" doc:id="30f311f3-5b19-470c-ab3c-b86fe37adce4" config-ref="common-xapi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="31fd18bb-fea9-48f4-82ec-585d91aecbc0" config-ref="common-xapi-services-config" doc:name="APIkit Console" />
	</flow>
	<flow name="get:\parameters:common-xapi-services-config" doc:id="789bb260-56de-4621-a9ab-871285ddda05" >
		<flow-ref doc:name="Flow Reference" doc:id="ed3d367c-7ba1-401e-8b4b-0a16ca48c473" name="parameters-get-common-papi-v2-clientSub_Flow"/>
	</flow>
</mule>
