product-papi-services/src/main/mule/product-papi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="product-papi-services-main" doc:id="065ed2c3-213d-4c7f-94f9-c0542d108903" >
		<http:listener doc:name="Listener" doc:id="752d4ab2-6b8f-44b2-aef2-b120a2f5d533" config-ref="product-papi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Call initial Logger" doc:id="6c3c37cb-2ca8-4f0e-a175-1d634c38e9c9" name="processAndSystem-logginSub_Flow"/>
		<apikit:router doc:id="60560464-ebb8-4a7b-9c9f-8bba8d04cf77" config-ref="product-papi-services-config"/>
		<async doc:name="Async" doc:id="74633048-5707-4703-b53f-21113beef5bd" >
			<flow-ref doc:name="Call logger" doc:id="ae803664-e971-4950-9fc2-2a4910df2050" name="loggin-client-call"/>
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="product-papi-services-console" doc:id="97ccfdca-0aa1-46f2-94e9-299580ef9681" >
		<http:listener doc:name="Listener" doc:id="6842a59f-0784-4cfc-821f-27fac7f455ec" config-ref="product-papi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="37e84f66-9b7a-4ff6-b3db-eb99e25296ab" config-ref="product-papi-services-config" doc:name="APIkit Console" />
	</flow>
	<flow name="get:\productOffering:product-papi-services-config" doc:id="e9d54c2b-646d-4e34-8212-fe4e38350787" >
		<flow-ref doc:name="Flow Reference" doc:id="b7df27e1-ff34-4314-8b85-1ebbcfddb04e" name="get-productOffering-handlerSub_Flow" />
	</flow>
	<flow name="get:\promotion:product-papi-services-config" doc:id="fda1d294-bd20-4cb0-88c4-d1e0eb6cfe40" >
		<flow-ref doc:name="Flow Reference" doc:id="29bcd2a7-14bb-4233-90ea-3ceb0baa8952" name="get-promotion-orchestratorSub_Flow" />
	</flow>
	<flow name="post:\productUsage\notify:application\json:product-papi-services-config" doc:id="813daf0e-43e8-422c-b9cd-96fd80b149e8" >
		<flow-ref doc:name="Flow Reference" doc:id="453f3dc7-d8dc-426e-85a4-3ab674645256" name="post-productUsage-notify-orchestratorSub_Flow"/>
	</flow>
</mule>
