business-xapi-services-v2/src/main/mule/business-xapi-services-v2.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	<flow name="business-xapi-services-main">
        <http:listener config-ref="business-xapi-services-httpListenerConfig" path="/v2/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="business-xapi-services-config" />
    
</flow>
    <flow name="business-xapi-services-console">
        <http:listener config-ref="business-xapi-services-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="business-xapi-services-config" />
    
</flow>
    <flow name="patch:\partyInteraction:application\json:business-xapi-services-config">
		<flow-ref doc:name="Flow Reference" doc:id="864dff42-952c-4020-afd9-9d4d6c35c7c3" name="partyInteraction-update-business-papi-v2-clientSub_Flow"/>

    </flow>
    <flow name="post:\partyInteraction:application\json:business-xapi-services-config">
		<flow-ref doc:name="Flow Reference" doc:id="10bd5951-40c2-4d20-b307-75607c0cdedc" name="partyInteraction-create-business-papi-v2-clientSub_Flow"/>

    </flow>
	<flow name="get:\billingAccount:business-xapi-services-config">
		<flow-ref doc:name="Flow Reference" doc:id="2f9cb454-7f37-48e5-8232-09d545d61f63" name="billingAccount-get-business-papi-v2-clientSub_Flow"/>

    </flow>
	<flow name="get:\agreement:business-xapi-services-config">
		<flow-ref doc:name="Flow Reference" doc:id="2d152ea7-1767-4eec-add5-846b86be153c" name="agreement-get-business-papi-v2-clientSub_Flow"/>

    </flow>
</mule>
