mvne-xapi-services/src/main/mule/mvne-xapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <flow name="mvne-xapi-services-main">
        <http:listener path="/mvne/*" config-ref="mvne-xapi-services-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <try doc:name="Try" doc:id="2261d56e-4fdf-4b13-b507-b101e4a40bff" >
			<flow-ref doc:name="Call initial Logger" doc:id="127689aa-699d-4def-a9d5-590df697a137" name="initial-loggin-Sub_Flow" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c86afd6c-d66f-4508-b84d-4f71f19fdd88" >
					<logger level="INFO" doc:name="Logger" doc:id="6344b93d-eb90-42d3-84ab-7289971d5031" message="#[error]" category="error_loggin"/>
				</on-error-continue>
			</error-handler>
		</try>
        <apikit:router config-ref="mvne-xapi-services-config" />
        <try doc:name="Try" doc:id="d46f7d96-59bd-4467-a167-a9bbc9de660d" >
			<async doc:name="Async" doc:id="20ba4b94-5940-435f-8110-32b6982ad9f5">
			<flow-ref doc:name="Call logger" doc:id="f1488bfc-d4cc-457a-adc0-a6a9e523025a" name="loggin-client-call" />
		</async>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1aacc49d-ecb2-4882-991b-38320f9b1354" >
					<logger level="INFO" doc:name="Logger" doc:id="a5a2d46b-21ce-4f87-a223-60887ec2e3b4" message="#[error]" category="error_loggin"/>
				</on-error-continue>
			</error-handler>
		</try>
        <error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="mvne-xapi-services-console">
        <http:listener path="/console/*" config-ref="mvne-xapi-services-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mvne-xapi-services-config" />
    </flow>
    <flow name="post:\services\v1\ordenes\movilidad\Cesion:application\json:mvne-xapi-services-config" doc:id="37ae53e2-0719-4310-be01-77ca14a75c7e">
		<flow-ref doc:name="Go to handler" doc:id="4c62e817-5f4c-4441-b25d-d4c26c56340b" name="post-cesion-handlerSub_Flow"/>
	</flow>
	<flow name="get:\services\v1\ordenes\movilidad\disponibilidad:mvne-xapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="fe57412f-7154-4dc9-880e-e71a47babf13" name="get-disponibilidad-handlerSub_Flow" />
    </flow>
    <flow name="post:\services\v1\ordenes\movilidad\(id)\activate:application\json:mvne-xapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="6e1e9523-585a-458d-88ff-f312f0b27cce" name="post-activate-handlerSub_Flow" />
    </flow>
    <flow name="post:\services\v1\ordenes\movilidad\recargar:application\json:mvne-xapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="097e6503-8526-4f89-9d18-cbbb7a2e44af" name="post-recargar-handlerSub_Flow" />
    </flow>
    <flow name="delete:\operations\v1\subscription\(connectionNumber):mvne-xapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="ff0836a3-614c-4321-b2b9-8638d4be5367" name="delete-subscription-handlerSub_Flow" />
    </flow>
    <flow name="patch:\operations\v1\subscription\(connectionNumber):application\json:mvne-xapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="b98855d7-36ce-476c-8862-4a80c3045dc5" name="patch-subscription-handlerSub_Flow" />
    </flow>
    <flow name="post:\services\v1\replacement:application\json:mvne-xapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="6ad849f4-0124-4cca-bfd2-650340edf92e" name="post-replacement-handlerSub_Flow" />
    </flow>
    <flow name="post:\services\v1\replacement\plan:application\json:mvne-xapi-services-config" doc:id="a423078d-c1d6-4435-9646-565cc5bc7f5d">
        <flow-ref doc:name="Go to handler" doc:id="4b9bcd9a-a568-4127-a8cb-6f76a024b2a8" name="post-replacement-plan-handlerSub_Flow" />
    </flow>
    <flow name="post:\services\v1\sva:application\json:mvne-xapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="2a4bc297-2026-43e3-9aee-67330e514d2d" name="post-sva-handlerSub_Flow" />
    </flow>
    <flow name="post:\services\v1\subscription\replacement:application\json:mvne-xapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="71cf353d-013f-4587-b987-5f5e9bcacea5" name="post-subscription-replacement-handlerSub_Flow" />
    </flow>
    <flow name="get:\services\v2\svas\(id):mvne-xapi-services-config" doc:id="0d846314-c6c7-482a-9b09-7afb30e0b3b0">
        <flow-ref doc:name="Go to handler" doc:id="b8f9fe51-3e8f-4f26-b9c7-e1165d1ec3cc" name="get-servicios-svas-handlerSub_Flow" />
    </flow>
    <flow name="get:\services\v2\ofertas\comercial\bolsas:mvne-xapi-services-config" doc:id="b21d0080-7188-439c-a701-e4e1f34471d6">
        <flow-ref doc:name="Go to handler" doc:id="2b4c5ecb-8a45-472c-9797-9ca2539690c8" name="get-bagsOffer-handlerSub_Flow" />
    </flow>
    <flow name="post:\services\v2\svas:application\json:mvne-xapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="c4d18e00-0113-4dc1-82fa-fd18295e93d2" name="post-servicios-svas-handlerSub_Flow" />
    </flow>
    <flow name="get:\services\v1\subscription\balance:mvne-xapi-services-config">
        <flow-ref doc:name="Go to get-balance-handlerSub_Flow" doc:id="0801af56-aa26-4ce5-9a56-805a0db6b868" name="get-balance-handlerSub_Flow" />
    </flow>
    <flow name="get:\services\v2\balance\(msisdn):mvne-xapi-services-config">
        <flow-ref doc:name="Go to get-balance-v2-handlerSub_Flow" doc:id="923a79bd-1335-4e02-a86e-e21158fea8da" name="get-balance-v2-handlerSub_Flow" />
    </flow>
    <flow name="post:\services\v2\transferbalance:application\json:mvne-xapi-services-config">
		<flow-ref doc:name="Go to transferbalance-handlerSub_Flow" doc:id="aa8468fd-c67c-4d79-a0f9-04f6c1e6be7b" name="transferbalance-handlerSub_Flow" />
    </flow>
    <flow name="post:\services\v1\activate\eSim:application\json:mvne-xapi-services-config">
		<flow-ref doc:name="Go to handler" doc:id="2cf22b5a-205c-4337-a032-0fd35110480a" name="post-activate-esim-handlerSub_Flow" />
    </flow>
	<flow name="post:\operations\v1\sendMessage:application\json:mvne-xapi-services-config" doc:id="33c4ccc4-b805-48ce-8ac1-9fec7b4afe24" >
		<flow-ref doc:name="Go to post sendMessage handler" doc:id="a30c57a9-edbc-4911-a44c-37d60cb68d1c" name="post-sendMessage-handlerSub_Flow"/>
	</flow>
	<flow name="get:\operations\v1\sendMessage\(id):mvne-xapi-services-config" doc:id="b0995582-6985-4727-91fb-53e9878b864e" >
		<flow-ref doc:name="Go to Message Status Handler" doc:id="b6136288-e1aa-4263-aa46-68476592f7fb" name="get-message-status-handlerSub_Flow"/>
	</flow>
	<flow name="patch:\operations\v1\suscriber\(suscriberId):application\json:mvne-xapi-services-config" doc:id="9bdf98fe-37fe-4122-9cee-22e5f42411fb" >
		<flow-ref doc:name="Flow Reference" doc:id="497706ba-fc32-4f65-8848-33cda27ca8b2" name="patch-suscriber-clientSub_Flow"/>
	</flow>
</mule>
