service-xapi-services/src/main/mule/service-xapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="service-xapi-services-main" doc:id="b12dd643-a9cc-4d6a-90c4-85f60b477674" >
		<http:listener doc:name="Listener" doc:id="d0604afd-7c64-42fd-a4c6-543673fc407d" config-ref="service-xapi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router doc:id="74519c25-bd0c-443d-a8f7-33835ccbefb6" config-ref="service-xapi-services-config"/>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="service-xapi-services-console" doc:id="e10a5b5b-e0af-46e3-85b2-75dbe8454396" >
		<http:listener doc:name="Listener" doc:id="28a82ad2-4e0b-48f9-b604-38973e4341fc" config-ref="service-xapi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:name="APIkit Console" doc:id="943d2d46-cff6-4602-b062-85bdf12b2932" config-ref="service-xapi-services-config" />
	</flow>
	<flow name="get:\serviceOrder:service-xapi-services-config" doc:id="e638d107-c5e9-44da-b680-c7a9ea1fce09" >
		<flow-ref doc:name="Flow Reference" doc:id="5d9515bd-bb1a-44da-967f-22ca380e5a97" name="get-service-Order-clientSub_Flow"/>
	</flow>
	<flow name="post:\serviceOrder:application\json:service-xapi-services-config" doc:id="2c313ad7-308f-4d8a-86e7-9d05fea69f36" >
		<flow-ref doc:name="Flow Reference" doc:id="24b08003-4053-4108-8fd9-a0ee08c5c282" name="post-service-Order-clientSub_Flow"/>
	</flow>
	<flow name="get:\resource:service-xapi-services-config" doc:id="1d171afc-fe9d-4131-ba62-47d204dc9b0f" >
		<flow-ref doc:name="Flow Reference" doc:id="146540a8-363c-4d6b-ba80-c9dd94f2d99c" name="get-resource-clientSub_Flow"/>
	</flow>
</mule>
