portal-fija-sapi-services/src/main/mule/portal-fija-sapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="portal-fija-sapi-services-main">
        <http:listener path="/fija/*" config-ref="portal-fija-sapi-services-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Call capture log vars" doc:id="95afa8bb-bce0-48dc-8321-8ffeda46950d" name="processAndSystem-logginSub_Flow"/>
		<apikit:router config-ref="portal-fija-sapi-services-config" />
        <error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="portal-fija-sapi-services-console">
        <http:listener path="/console/*" config-ref="portal-fija-sapi-services-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="portal-fija-sapi-services-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\v1\accounts\(account_id)\cycles:portal-fija-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="61998648-0e0d-4b65-89fd-66dd1e55912f" name="get-accountCycle-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\hierarchy_account:portal-fija-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="36e2ad5e-090c-4689-8967-dcb2be13abbd" name="get-hierarchy-account-handler" />
    </flow>
    <flow name="get:\v1\health_check:portal-fija-sapi-services-config">
        <logger level="INFO" doc:name="Logger" doc:id="7e91b0b2-edde-48e5-936b-df3163ba2c78" message="#[payload]" />
        <flow-ref doc:name="Go to handler" doc:id="54bde9fa-c59a-4e2e-81de-25c586ca8a4a" name="get-health-check-handler" />
    </flow>
	<flow name="get:\v1\agreement\getPermanenceClause:portal-fija-sapi-services-config" doc:id="1a1bfd8f-ea2a-4e48-9095-b2c4e80ce502" >
		<flow-ref doc:name="Flow Reference" doc:id="ee3945a3-fdba-4a63-9e42-5e69e88f95e2" name="consultaPermanencia-orchestadorSub_Flow2"/>
	</flow>

</mule>
