appointment-management-xapi-services-v2/src/main/mule/appointment-management-xapi-services-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="appointment-management-xapi-services-main" doc:id="879f2734-d446-4584-8942-c6ac35d6df31" >
		<http:listener doc:name="Listener" doc:id="d94557d7-246d-4e15-906e-76bd06907746" config-ref="appointment-management-xapi-services-v2-httpListenerConfig" path="/v2/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router doc:id="e509e609-d543-4b6a-afdd-8a872264a240" config-ref="appointment-management-xapi-services-config" doc:name="APIkit Router" />
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="appointment-management-xapi-services-console" doc:id="51d9ab8a-9980-431e-a290-be99d175a921" >
		<http:listener doc:name="Listener" doc:id="19f1856e-adaa-4756-a9bd-fd44a5270dc5" config-ref="appointment-management-xapi-services-v2-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="75c7045f-e7ab-4a60-bf91-09403c85cc4e" config-ref="appointment-management-xapi-services-config" doc:name="APIkit Console" />
	</flow>
	<flow name="get:\appointment:appointment-management-xapi-services-config" doc:id="46518666-f425-4c67-8e0d-6d2f8a2aab9d" >
		<ee:transform doc:name="Transform Message" doc:id="65c1ef61-5530-437c-8b39-020e5eb03531" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: "FdB8a4aecd47B4f0bAeFe6B9",
  actionType: "ABCDEFGHIJKLMN",
  address: "ABCDEFGHIJKL",
  tmrSchedules: [
    {
      id: "0fe5EF8dBB06c7d4eE78EB00",
      scheduleStatus: "ABCDEFGHI",
      creationDate: "ABCDEFGHIJKLMNOPQRSTUVW",
      scheduleStartDate: [],
      etaId: "",
      requestedByCustomer: true,
      timeSlot: "ABCDEFGHIJKLMNOPQRSTUVWXY",
      channel: "",
      scheduleEndDate: 0,
      osmId: "",
      rescheduleReason: "",
      scheduleOpportunity: [],
      createdByUser: "ABCDEFGHIJKLMNOPQRSTUVWXY",
      modifiedByUser: "ABCDEFGHIJKLMNO"
    }, 
    {
      id: "1FCE49e1daaB5b2EbCfad94b",
      scheduleStatus: "ABCDEFGHIJKLMNOPQRS",
      creationDate: "ABCDEFGHIJKLMNOPQRSTUVWXYZAB",
      scheduleStartDate: [],
      etaId: "",
      requestedByCustomer: true,
      timeSlot: "ABCDEFGHIJKLMNOP",
      channel: "ABCDEFGHIJKL",
      scheduleEndDate: false,
      osmId: "",
      rescheduleReason: "ABCDE",
      scheduleOpportunity: [],
      createdByUser: "ABCDEFGHIJKL",
      modifiedByUser: "ABCDE"
    }
  ],
  connectionNumber: "ABCDEFGHIJKLMNOPQRS",
  cun: "ABCDEFGHIJKLMNOPQRST",
  customerDocumentNumber: "ABCDEFGHIJKLMNO",
  customerDocumentType: "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
  duration: "ABCDEFGHIJKLMNOPQRSTUVWXYZABC",
  updateDate: "ABCDEFGHIJKLMNO",
  orderNumber: "ABCDEFGHIJK",
  orderType: "ABCDEFGHIJKLMNOPQRSTUV",
  originSystem: "ABCDEFGH",
  serviceType: "ABCDEFGHIJKLMNOPQRST",
  skill: "ABCDEFGHI",
  technicianDocumentNumber: "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
  technicianDocumentType: "",
  technology: "ABCDEFGHI",
  createdBy: "ABCDEFGH",
  zone: "ABCDEFGHIJKLMNOPQRS"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
