problem-management-papi-services/src/main/mule/problem-management-papi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="problem-management-papi-services-main" doc:id="6ea7aea7-155d-4a24-8701-d5bfc9bd7793" >
		<http:listener doc:name="Listener" doc:id="5a0738ce-b453-45be-beb7-788ecbe2587e" config-ref="problem-management-papi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		 <flow-ref doc:name="Call initial Logger" doc:id="a686ce85-408c-437e-9b9d-f8705c5771bb" name="initial-loggin-Sub_Flow" />
		<apikit:router doc:name="APIkit Router" doc:id="8ebe4b9e-eabf-456f-ab74-a70878f56411" config-ref="problem-management-papi-services-config"/>
		 <async doc:name="Async" doc:id="37f4287b-69e9-4007-a674-80f09fb39f84" >
			<flow-ref doc:name="Call logger" doc:id="d490bb44-9ee9-4532-963c-1763c8f8ffb2" name="loggin-client-call" />
		</async> 
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="problem-management-papi-services-console" doc:id="71a88d19-dd23-4c74-a4d1-eba3b8c80ea3" >
		<http:listener doc:name="Listener" doc:id="2633e9ad-09c1-4756-91bd-cdb78d3e8dc8" config-ref="problem-management-papi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="6f3a8d37-2a85-4290-83d1-a6a47861f03e" config-ref="problem-management-papi-services-config" doc:name="APIkit Console" />
	</flow>
	<flow name="patch:\serviceProblem\activity\(id):application\json:problem-management-papi-services-config" doc:id="564c930c-e418-43e6-9eb6-d67dfd009498" >
		<flow-ref doc:name="Flow Reference" doc:id="3e00a41a-beb3-4ee2-9b54-7416ba9caaab" name="update-serviceProblem-activity-orchestratorSub_Flow"/>
	</flow>
	<flow name="get:\serviceProblem\pqr-orders:problem-management-papi-services-config" doc:id="085d9ff5-88fa-40d7-933c-8f0448466fb5" >
		<flow-ref doc:name="Flow Reference" doc:id="5374d5f5-0c9b-453d-8154-aa018e5b7894" name="get-serviceProblem-pqrs-orders-orchestratorSub_Flow"/>
	</flow>
	<flow name="get:\service:problem-management-papi-services-config" doc:id="b88c71ea-9aa1-4d8a-9714-ad15b1ffdcbc" >
		<flow-ref doc:name="Flow Reference" doc:id="92110cb3-39b3-4249-a5bc-8e08bc1dc10f" name="get-service-orchestratorSub_Flow"/>
	</flow>
	<flow name="get:\problemGroup:problem-management-papi-services-config" doc:id="be87d866-8473-40eb-bf03-e74867afb445" >
		<flow-ref doc:name="Flow Reference" doc:id="8c5c7627-11b0-455b-bccc-3e565f53ffbb" name="get-problem-group-orchestratorSub_Flow"/>
	</flow>
</mule>
