product-xapi-services/src/main/mule/product-xapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="product-xapi-services-main" doc:id="a7fd9e7f-8b3f-474d-9aa1-55559de312a6" >
		<http:listener doc:name="Listener" doc:id="bc9641c8-bb6c-4523-b856-8c99a0109da2" config-ref="product-xapi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router doc:id="a8d52d3b-8a0b-420c-b0ae-949ecd3c0f8c" config-ref="product-xapi-services-config" doc:name="APIkit Router" />
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="product-xapi-services-console" doc:id="6eec5e7b-e466-43f1-a8dc-2407e982a339">
		<http:listener doc:name="Listener" doc:id="dd41ecb3-4f6a-42ab-a3d7-696f6b836f65" config-ref="product-xapi-services-httpListenerConfig" path="/console/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:name="APIkit Console" doc:id="7d89ab73-1e96-4e0f-a972-720705eee680" config-ref="product-xapi-services-config" />
	</flow>
	<flow name="get:\productOffering:product-xapi-services-config" doc:id="fab26a8d-6f46-4150-a58d-f34c70cd312d" >
		<flow-ref doc:name="Flow Reference" doc:id="13ded03f-c2ee-475a-9605-654413ec9ed3" name="get-productOffering-handlerSub_Flow" />
	</flow>
	<flow name="get:\promotion:product-xapi-services-config" doc:id="9db95eeb-f533-42c0-82b8-3f27b782a043" >
		<flow-ref doc:name="Flow Reference" doc:id="d2639854-efe9-4d49-b200-40bd0c809b76" name="get-promotion-orchestratorSub_Flow" />
	</flow>
	<flow name="post:\productUsage\notify:application\json:product-xapi-services-config" doc:id="25b5217a-4cca-47a0-8ae2-e338ae962de6" >
		<flow-ref doc:name="Flow Reference" doc:id="23c9d120-7663-4f39-98b2-9f842461674b" name="post-product-papi-clientSub_Flow"/>
	</flow>
</mule>
