service-papi-services/src/main/mule/orchestrator/post-activateLine-orchestrator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post-activateLine-orchestratorSub_Flow" doc:id="19473537-7b24-4015-8d5b-6ef848494b12" >
		<choice doc:name="Choice" doc:id="0b0d902b-ee7f-43e2-9bf2-feef6bc15a06" >
			<when expression="#[isEmpty(vars.subscriberId)]">
				<ee:transform doc:name="Prepare input" doc:id="3a8a073a-cae2-4d20-be6b-d37e7f3b386d">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "externalID": vars.inputPayload.documentType ++ vars.inputPayload.documentNumber,
  "subscriberType": p('jsc-sapi.subscriber.subscriberType'),
  "document": {
    "documentType": p('jsc-sapi.subscriber.subscriberType'),
    "fiscalID": vars.inputPayload.documentType ++ vars.inputPayload.documentNumber
  }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<try doc:name="Try" doc:id="0b7f311e-13b7-4eda-93e3-0642ad037c97" >
					<flow-ref doc:name="Post subscriber" doc:id="6b910865-b530-4e8b-a138-09aea58c7cf8" name="post-subscriber-client"/>
					<set-variable value="#[vars.subscriberObject.id]" doc:name="subscriberId" doc:id="253ed998-37a5-45d3-827f-83e2f5759967" variableName="subscriberId" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c62a8822-2112-4f2e-ba24-0ea818c10136" when='error.muleMessage.payload.messageServer.message contains "ENTITY ALREADY EXISTS"'>
							<flow-ref doc:name="Get subscriber" doc:id="2a9ead42-3ad9-4dbf-a165-2ce3f8220965" name="get-subscriber-client"/>
							<set-variable value="#[vars.subscriberObject.content[0].id]" doc:name="subscriberId" doc:id="fbfca964-d40d-49d2-8f3b-3f81523f7663" variableName="subscriberId" />
						</on-error-continue>
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ba6effcd-d428-4f06-ae13-e420e082dddb" >
							<set-variable value="Error creating subscriber" doc:name="Set Error Message" doc:id="d7e0ee26-a53a-4642-8bd9-10cea8aa3170" variableName="errorMessageOutput"/>
						</on-error-propagate>
					</error-handler>
				</try>
			</when>
		</choice>
		<flow-ref doc:name="Go to order creation process" doc:id="c159bc91-0126-4edb-8762-7a1bda25246c" name="OrderCreationProcess" />
		<flow-ref doc:name="Go to Line association process" doc:id="b534d664-e06a-4d8d-a013-cbaae3237402" name="LineAssociationProcess"/>
		<flow-ref doc:name="Go to billing accounts creation" doc:id="73eaac39-a646-488d-937f-16f51d3f5771" name="BillingAccountsCreation" />
		<flow-ref doc:name="Close order" doc:id="da25b895-ebe5-41e5-91f9-7ee7a427de8f" name="patch-endOrder-client" />
		<flow-ref doc:name="Link integration ID" doc:id="2610a309-02c5-4e34-a643-1fd95471583c" name="LinkExternalId" />
		<ee:transform doc:name="Output body" doc:id="e267181b-14c1-4eaa-8643-f53a78fe68cc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"suscriberId": vars.subscriberId,
	"description": "Activación Exitosa",
	"svaId": vars.svasResponse.resultIDs map{
		idInstanceJSC: $.idInstanceJSC,
		id_opcional: $.id_opcional
	} 
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="26b79a6c-a5d1-4c0a-affc-e4e7c79c4f1d" >
				<ee:transform doc:name="Error output" doc:id="5493f1f6-af69-4131-87d0-060fb8e24627" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": 500,
	"code": "LINE_ACTIVATION",
	"message": {
	  "message": vars.errorMessageOutput
	},
	"messageServer": "",
	"cause": [
	  {
	    "origin": app.name,
	    "message": "org.mule.extension.http.api.request.validator.ResponseValidatorTypedException"
	  }
	]
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="OrderCreationProcess" doc:id="da25adcc-682b-4c92-87ea-ecf06f663117" >
		<choice doc:name="Choice1" doc:id="4a91d678-d53f-4cc2-8839-b67a0228c68a">
			<when expression="#[isEmpty(vars.inputPayload.svaPackage default [])]">
				<ee:transform doc:name="Prepare order input" doc:id="ba5401a8-d5b9-49f9-b7da-de092c07b622">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "type": p('jsc-sapi.order.type'),
  "salesChannel": p('jsc-sapi.order.salesChannel'),
  "status": p('jsc-sapi.order.status'),
  "packages": vars.inputPayload.planPackage map $,
  "subscriber": {
    "id": vars.subscriberId
  }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Prepare order input with sva" doc:id="92cfeea4-3677-4d8e-ad19-bd1d5c0e8baa">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
var cleanedPayload = vars.inputPayload update {
  case .svaPackage -> 
    (vars.inputPayload.svaPackage default [])
      filter (item) -> item.id != null and trim(item.id) != ""
}
---
{
  "type": p("jsc-sapi.order.type"),
  "salesChannel": p("jsc-sapi.order.salesChannel"),
  "status": p("jsc-sapi.order.status"),
  "packages": 
    (cleanedPayload.planPackage default []) ++ 
    (
      (cleanedPayload.svaPackage default []) map (item) -> {
        id: item.id
      }
    ),
  "subscriber": {
    "id": vars.subscriberId
  }
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<flow-ref doc:name="Create order" doc:id="f7b2ad35-b8a4-4afa-98e4-8702d1fc1029" name="post-order-client"/>
		<set-variable value="#[vars.orderObject.subscription.id]" doc:name="firstIdCreateOrder" doc:id="12ea42cd-da57-4235-bcc6-f0d4dae65dbe" variableName="firstIdCreateOrder"/>
	</sub-flow>
	<sub-flow name="LineAssociationProcess" doc:id="3da6506c-c355-4ab1-bde3-41b09a6eda04" >
		<flow-ref doc:name="Patch msisdn" doc:id="d8617458-894e-4df5-b737-f9a8177ccaa0" name="patch-msisdn-client"/>
		<flow-ref doc:name="Patch simcard" doc:id="2674fbd1-b83c-4623-8d7c-f673ae08782b" name="patch-simCard-client" />
	</sub-flow>
	<sub-flow name="BillingAccountsCreation" doc:id="992e3e90-32f7-4007-9b6f-68b39453bd57" >
		<ee:transform doc:name="Billing BA body" doc:id="cf45d847-71f5-42f8-859b-01399ca52698" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "name": p('jsc-sapi.createBillingAccount.ba.name'), //PROP
    "subscriber": {
        "id": vars.subscriberId
    },
    "cycleConfig": {
        "cycleDay": vars.inputPayload.PAM
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Post Billing BA" doc:id="c620e4ed-f878-47ab-b850-7ce523f7e27d" name="post-billingBA-client"/>
		<ee:transform doc:name="Billing Subscription body" doc:id="d8b2dac1-55fe-4e0e-949d-f28e0ffd7147" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "defaultBillingAccount": {
        "id": vars.billingAccountObject.id,
        "name": p('jsc-sapi.createBillingAccount.subscription.name') //PROP
    }
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="subscriptionAction" ><![CDATA[%dw 2.0
output application/java
---
p('jsc-sapi.createBillingAccount.subscription.action') //PROP]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Patch Billing Subscription" doc:id="bdb42e5d-6264-45ff-b5ce-7389059b1637" name="patch-billingSubscription-client"/>
	</sub-flow>
	<sub-flow name="LinkExternalId" doc:id="9a313b96-0896-44b6-8bf5-4adcd875fd0e" >
		<ee:transform doc:name="Billing Subscription body" doc:id="e8c7e977-8056-4201-b784-2ba4bd12c141" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "externalID": vars.inputPayload.integrationId
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="subscriptionAction" ><![CDATA[%dw 2.0
output application/java
---
null]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Patch Billing Subscription" doc:id="239330e5-68a0-4803-a22f-607387e8de11" name="patch-billingSubscription-client" />
	</sub-flow>
</mule>
