sisext-sapi-services/src/main/mule/sisext-sapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="sisext-sapi-services-main">
        <http:listener config-ref="HTTP_Listener_config" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Get systemId" doc:id="9f0ce668-dd66-47a9-a7f9-287ac5910670" name="processAndSystem-logginSub_Flow" />
        <apikit:router config-ref="sisext-sapi-services-config" />
        <async doc:name="Async" doc:id="5bb12c8f-2cfd-46bd-a6c6-27e6aee5c5a0" >
			<flow-ref doc:name="Call logger" doc:id="91074744-072f-472b-b963-e3ab8df95142" name="loggin-client-call" />
		</async>
        <error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="sisext-sapi-services-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sisext-sapi-services-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\v1\coverageGIS:sisext-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="76abfcc0-110d-434b-9859-9b29259dea90" name="get-coverageGIS-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\feasibility:sisext-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="48a8fa06-53a8-4f73-bed9-17caa829f97c" name="sisext-handlerFlow" />
    </flow>
    <flow name="post:\v1\orders\(order_id)\delivery:application\json:sisext-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="1f859eeb-f43c-4768-b6e9-a1f46046ff80" name="post-createDispatchOrder-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\questionaries\(questionarie-id)\validation:application\json:sisext-sapi-services-config" doc:id="79eb557d-b69d-4f51-be69-dad3e4c79b8b">
        <flow-ref doc:name="Go to Handler" doc:id="a79de1a4-2c87-4ab7-8e05-c8afe9948ce1" name="post-evidentVerificationLISIM-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\borrowing-capacities:application\json:sisext-sapi-services-config" doc:id="a2e04d6e-da90-4f1d-8441-be9f69756f4c">
        <flow-ref doc:name="Go to Handler" doc:id="93fe6acd-2e0d-4944-8265-73235eb41d94" name="post-consultaCupoNegLISIM-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\billings\(connection-number)\details:sisext-sapi-services-config" doc:id="fafaea50-7080-4140-b773-20d5005cdfde">
        <flow-ref doc:name="Go to Handler" doc:id="2d1e5ba3-6041-41c1-b5ab-7b7ee49310ab" name="get-connectionNumber-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\documents\validation:application\json:sisext-sapi-services-config">
        <flow-ref doc:name="post-validaIdentidadNeglisim-handler" doc:id="1ccb5ff8-d30d-4bdf-9c4c-d1f1f90ea1fb" name="post-validaIdentidadNeglisim-handler" />
    </flow>
    <flow name="get:\v1\RNE:sisext-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="5fe00abf-7b16-4412-bec7-5654fdcd1db4" name="get-rne-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\RNE:application\json:sisext-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="cf44558a-dcf7-4fe4-bdcd-b4837c583c9c" name="post-rne-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\document\validation:application\json:sisext-sapi-services-config" doc:id="c0d86bc7-6f34-4104-b385-5a3d6c60a42c">
        <flow-ref doc:name="Go to Handler" doc:id="fce1bcc4-512c-4aeb-8dd8-7e89e162a2dd" name="post-document-validation-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\negativeRecord:application\json:sisext-sapi-services-config" doc:id="f0416612-cf2a-4349-bfb3-53cecb9286f9">
        <flow-ref doc:name="Go to Handler" doc:id="f2651335-ef3b-4bed-b4ed-335e98daa1b9" name="post-negativeRecord-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\fraudQuery:application\json:sisext-sapi-services-config" doc:id="7009962d-245b-44b3-b272-970f9f791f1f">
        <flow-ref doc:name="Go to Handler" doc:id="b783e485-473b-46da-910b-e08649918a0a" name="post-fraudQuery-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\referred\(integrationId):sisext-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="73c2a3bb-9252-434f-9828-9c2c26016af5" name="get-referred-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\captcha:sisext-sapi-services-config" doc:id="63c5d991-a7f7-4b9a-bc07-c34c6cb2c373" >
        <flow-ref doc:name="Go to handler" doc:id="9dead75c-69e8-4bb9-b327-0faa24424a69" name="post-captcha-handlerSub_Flow"/>
    </flow>

	<flow name="post:\v1\getInvoice:application\json:sisext-sapi-services-config" doc:id="79114d23-15fb-48e8-b165-04f4a2f7eb23" >
		<flow-ref doc:name="Go to Handler" doc:id="e9d71eb5-3418-41c9-9a0b-6aa9edac1eb9" name="post-getInvoice-handlerSub_Flow" />
	</flow>
    <flow name="post:\v1\mediafon\sendMsg:application\json:sisext-sapi-services-config" doc:id="d25b9dc2-967d-4fa1-bacf-da82b4087ee4" >
        <flow-ref doc:name="Go to handler" doc:id="44c99c8f-709e-4f16-98ca-5e86a79a1663" name="post-mediafonSendMsg-handlerSub_Flow" />
    </flow>
	<flow name="post:\v1\text-messages:application\json:sisext-sapi-services-config" doc:id="9ef8ca21-b2ce-4aba-800d-86f77aa3ec26" >
        <flow-ref doc:name="Go to handler" doc:id="be94d91a-17a5-41a2-ac6b-8a166e5726c1" name="post-sendTextMessage-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\air\recharge:application\json:sisext-sapi-services-config" doc:id="ec1b9038-ee4e-4052-ae6a-57fb1d7681ed" >
		<flow-ref doc:name="Go to Handler" doc:id="12f9f22b-e24b-43bf-bc10-df60a8c05c44" name="post-air-recharge-handlerSub_Flow"/>
	</flow>
	<flow name="get:\v1\DGO\subscriber\(subscriber_id):sisext-sapi-services-config" doc:id="85476c75-fb57-4586-94a6-d5e96016c2c9" >
		<flow-ref doc:name="Go to GetSubscriberInfo handler" doc:id="b2cd6300-15ac-4d99-b479-978493e600f9" name="GetSubscriberInfo-dgo-handlerSub_Flow" />
	</flow>
	<flow name="patch:\v1\DGO\subscriber\(subscriber_id):application\json:sisext-sapi-services-config" doc:id="54b9ab74-d74f-482f-8822-35beb29d514e" >
		<flow-ref doc:name="Go to EditSubscriber handler" doc:id="1b2aac11-a906-4fe7-8748-9437b10af1da" name="EditSubscriber-dgo-handlerSub_Flow" />
	</flow>
	<flow name="patch:\v1\DGO\subscriber\(subscriber_id)\urn:application\json:sisext-sapi-services-config" doc:id="8ca89d10-8a94-47d6-8331-3c8cf9fa7436" >
		<flow-ref doc:name="Go to AddURNs handler" doc:id="e824d101-df88-4018-bd2a-2c37cd7ce48c" name="AddURNs-dgo-handlerSub_Flow" />
	</flow>
	<flow name="patch:\v1\DGO\subscriber\(subscriber_id)\deactivate:sisext-sapi-services-config" doc:id="9066eead-1128-4415-bc15-fcf804a5d3fe" >
		<flow-ref doc:name="Go to DeactivateUser handler" doc:id="e7a426a9-99f4-44cc-977c-90af49bee808" name="DeactivateUser-dgo-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\DGO\subscriber:application\json:sisext-sapi-services-config" doc:id="50aacb58-2ae5-40ba-8f6a-01f6c53f482c" >
		<flow-ref doc:name="Go to AccountRegistration handler" doc:id="fddc9fb8-0be3-4b96-b715-d141b1353f0d" name="AccountRegistration-dgo-handlerSub_Flow" />
	</flow>
    <flow name="post:\v1\createAgreement:application\json:sisext-sapi-services-config">
		<flow-ref doc:name="Go to handler" doc:id="b17504e4-2e2a-42d5-99ad-33c3145c6ebc" name="post-createAgreements-handlerSub_Flow"/>
    </flow>
	<flow name="post:\v1\atp\auth:application\json:sisext-sapi-services-config" doc:id="a1c1f6e3-a27e-459f-87cb-42f5976daa20" >
		<flow-ref doc:name="Go to Handler" doc:id="8fa56f44-1bf3-4120-be6c-25e2e32784e3" name="post-atpAuth-handlerSub_Flow"/>
	</flow>
	<flow name="post:\v1\atp\bookingFeasibility:application\json:sisext-sapi-services-config" doc:id="cffd05c8-ab68-4fba-b12b-4ec30ebe253f">
		<flow-ref doc:name="Go to Handler" doc:id="5423f965-2cfd-4407-ac1d-37017b96468d" name="post-atpBookingFeasibility-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\createBooking:application\json:sisext-sapi-services-config" doc:id="9fa393de-25ce-466e-b36a-15081e7d6bcd" >
		<flow-ref doc:name="Go to Handler" doc:id="8f0dd15d-2eea-42a6-a040-5ab640a8c6c6" name="post-atpCreateBooking-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\consultBooking:application\json:sisext-sapi-services-config" doc:id="8fc972fc-4dc3-4256-8a08-029abbb76f28" >
		<flow-ref doc:name="Go to Handler" doc:id="a1efdab5-689c-430c-a56c-390058b047db" name="post-atpConsultBooking-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\cancelBooking:application\json:sisext-sapi-services-config" doc:id="2b697372-de37-41bd-86ef-b9cf7f9a7ca7" >
		<flow-ref doc:name="Go to Handler" doc:id="f4f83e00-8962-4985-ba11-43c77a58784a" name="post-atpCancelBooking-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\activateOnt:application\json:sisext-sapi-services-config" doc:id="cb9824bb-4725-49ee-bd78-70821c181efc" >
		<flow-ref doc:name="Go to Handler" doc:id="8c2f63c3-0bde-4f60-898f-f787fc2cb0e6" name="post-atpOntServicesActivation-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\activateService:application\json:sisext-sapi-services-config" doc:id="b1c071a5-51e6-4ab5-bdf2-46f954dc51e6" >
		<flow-ref doc:name="Go to Handler" doc:id="80d6ec92-3faa-43e3-b4b6-e7737cee8caa" name="post-atpServicesActivation-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\deactivateOnt:application\json:sisext-sapi-services-config" doc:id="6befb79d-d7ee-43d9-824b-d038f8385fd6" >
		<flow-ref doc:name="Go to Handler" doc:id="8f3fb435-410e-4702-a3cc-0ce5584ee2c3" name="post-atpOntServicesDeactivation-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\deactivateService:application\json:sisext-sapi-services-config" doc:id="24589b6e-53a2-4638-beed-871f23edd026" >
		<flow-ref doc:name="Go to Handler" doc:id="dbcee523-4fa6-4e87-95ca-a5cecac306a6" name="post-atpServicesDeactivation-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\resetONT:application\json:sisext-sapi-services-config" doc:id="101d5d4d-e8df-4a28-baab-2b7c9538d69c" >
		<flow-ref doc:name="Go to Handler" doc:id="6dc7e398-8628-4384-a126-30ee864ee2c4" name="post-atpResetONT-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\consultLevels:application\json:sisext-sapi-services-config" doc:id="47bd9d1e-296f-4e6d-9591-e5cbb7b4d980" >
		<flow-ref doc:name="Go to Handler" doc:id="89ac0986-dbc1-42f2-b26c-cf4eefbbc649" name="post-atpConsultLevels-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\consultSpeed:application\json:sisext-sapi-services-config" doc:id="5fa35e3c-35ab-4f07-97c6-526c17841432" >
		<flow-ref doc:name="Go to Handler" doc:id="5f9d08ec-d8df-4318-b797-2b6af7248586" name="post-atpConsultSpeed-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\consultState:application\json:sisext-sapi-services-config" doc:id="fbae9c7b-3c9d-417d-9088-1c9cbdb1983c" >
		<flow-ref doc:name="Go to Handler" doc:id="0be8469e-a09c-4e7c-8fb5-564e3a58243e" name="post-atpConsultState-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\consultNeighbors:application\json:sisext-sapi-services-config" doc:id="aafde90c-3cc6-49b9-9a1f-0f8f1c84bf18" >
		<flow-ref doc:name="Go to Handler" doc:id="f1fa13c2-3843-45e6-aeb1-09846ce878bd" name="post-atpConsultNeighbors-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\serviceSuspension:application\json:sisext-sapi-services-config" doc:id="95a253e2-de38-4875-b0f7-0cb25bbf3290" >
		<flow-ref doc:name="Go to Handler" doc:id="62e8391e-ff08-4735-9058-073a91380d34" name="post-atpServiceSuspension-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\serviceReactivation:application\json:sisext-sapi-services-config" doc:id="5e068d63-18a9-4b76-a46b-8e97968947c3" >
		<flow-ref doc:name="Go to Handler" doc:id="2de463b4-194a-40c9-9a7d-ccf7d1c1b9e1" name="post-atpServiceReactivation-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\speedChangeFeasibility:application\json:sisext-sapi-services-config" doc:id="aa23235a-164d-431c-8cf0-2973ceeed6f8">
		<flow-ref doc:name="Go to Handler" doc:id="a0a15df1-75aa-42a0-9067-09dc4de61c28" name="post-atpSpeedChangeFeasibility-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\speedChangeCreateBooking:application\json:sisext-sapi-services-config" doc:id="124d8743-6f25-4283-b614-dcb27dd36d29" >
		<flow-ref doc:name="Go to Handler" doc:id="16453c27-1adb-462e-a9fc-514e357e442f" name="post-atpSpeedChangeCreateBooking-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\speedChangeCancelBooking:application\json:sisext-sapi-services-config" doc:id="66a65ca6-3394-4224-8f59-f9f38c81df50" >
		<flow-ref doc:name="Go to Handler" doc:id="74e7e8de-d48f-4b15-b202-e5f353eda887" name="post-atpSpeedChangeCancelBooking-handlerSub_Flow" />
	</flow>
	<flow name="post:\v1\atp\speedChange:application\json:sisext-sapi-services-config" doc:id="8ce1d6c5-290a-486b-b21f-ffb9ecef34ca" >
		<flow-ref doc:name="Go to Handler" doc:id="73b8d5e4-f1b7-49b2-930f-09fc4df88c03" name="post-atpSpeedChange-handlerSub_Flow" />
	</flow>
	<flow name="get:\v1\employees\(id):sisext-sapi-services-config" doc:id="5d35da47-fd81-445c-afce-a1f8550245fe" >
		<flow-ref doc:name="Flow Reference" doc:id="7a033a2f-f6b1-4c16-88ef-4207ccc3f1a4" name="get-employee-orchestadorSub_Flow"/>
	</flow>
</mule>
