mongo-sapi-services/src/main/mule/orchestrator/post-send-message-orchestrator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post-send-message-orchestratorFlow" doc:id="edf44841-cd4c-4fc6-863c-6e55cb04d9b9" >
		<java:new doc:name="New" doc:id="01ae4ab8-9faf-417f-ad56-cb8c91b94d98" class="com.etb.smpp.SMPPService" constructor="SMPPService()" target="smppService"/>
		<java:invoke doc:name="Invoke" doc:id="634af1dd-3201-4f2c-9af4-5f6af5de8a64" instance="#[vars.smppService]" class="com.etb.smpp.SMPPService" method="sendSMS(java.lang.String,int,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)" target="resultadoSMS">
			<java:args ><![CDATA[#[{
      arg0: p('smpp.host'),
      arg1: p('smpp.port'),
      arg2: p('smpp.systemId'),
      arg3: p('smpp.password'),
      arg4: p('smpp.sourceAddr'),
      arg5: payload.message.destinations[0],
      arg6: payload.message.message
    }]]]></java:args>

		</java:invoke>
		<logger level="INFO" doc:name="Logger" doc:id="65107f8f-a5e7-42a9-9547-2868add5dc43" message="#[vars.resultadoSMS]"/>
		<set-payload value='#[output application/json&#10;---&#10;{&#10;  "status": "success",&#10;  "messageId": vars.resultadoSMS,&#10;  "details": "message send successfully"&#10;}]' doc:name="Set Payload" doc:id="129ecf20-3527-485c-96ac-f81c9cda67a2" />
		<!-- <error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="600f561f-13e7-4f25-b62c-d4bd054c6944">
						<set-variable variableName="errorCode" value="#[error.errorType]" />
            <set-variable variableName="errorMessage" value="#[error.description]" />
				<ee:transform doc:name="Transform Message" doc:id="7a05a5ba-3e8d-4146-9ff0-5559197d78c7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
	status: "success",
    messageId: vars.resultadoSMS,
	errorCode: vars.errorCode,
    errorMessage: vars.errorMessage
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler> -->
	</flow>
</mule>
