mongo-sapi-services/src/main/mule/mongo-sapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <flow name="mongo-sapi-services-main">
        <http:listener path="/mongo/*" config-ref="mongo-sapi-services-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Call capture log vars" doc:id="83964e3b-61ba-42ff-abf5-554b9f491dea" name="processAndSystem-logginSub_Flow" />
        <apikit:router config-ref="mongo-sapi-services-config" />
        <error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="mongo-sapi-services-console">
        <http:listener path="/console/*" config-ref="mongo-sapi-services-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mongo-sapi-services-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\v1\promoUser:mongo-sapi-services-config" doc:id="86226a6f-6780-4543-985b-a9af2f5d3d63" >
		<flow-ref doc:name="Go to handler" doc:id="444cf561-be77-4cd0-ae80-a94baa669dd3" name="post-promo-user-handlerSub_Flow"/>
	</flow>
	<flow name="get:\v1\promo:mongo-sapi-services-config" doc:id="4137806b-9d83-4a39-b4b7-55a4413b18c6" >
		<flow-ref doc:name="Go to handler" doc:id="8b05c5e9-4935-4f41-b1dd-4243ac56294c" name="get-promociones-handlerSub_Flow"/>
	</flow>
	<flow name="get:\v1\promo\pkg:mongo-sapi-services-config" doc:id="6f866bd8-e8eb-4f80-bbba-b9c5125dbdfc" >
		<flow-ref doc:name="Go to handler" doc:id="c15483c3-f450-4824-9eb8-a39fb8d7cca5" name="get-promXpkg-handlerSub_Flow"/>
	</flow>
	<flow name="get:\v1\consecutive:mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="dcaf74f4-1064-434d-82a4-1ec62ef2ebeb" name="obtain-consecutive-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\parameters:mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="675835bc-9b16-4354-8972-ff3ea7404582" name="obtain-parameters-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\productOrder\(ordenOm):mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="250eea10-20a3-4ffb-8094-053f65790068" name="obtain-order-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\productOrder:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="954cf8e9-5e9e-4ffd-8926-6b444f7e7c2d" name="insert-productOrder-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\services\om_orders\(number_om)\oc_orders\(number_oc):mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="bbbdbd00-9230-4797-8bdd-8ea2217a0618" name="get-consultaServFact-handlerSub_Flow" />
    </flow>
    <flow name="put:\v1\productOrder\(ordenOm):mongo-sapi-services-config" doc:id="eca2106f-61e3-4cb8-968a-efa5e14a2dfd">
        <flow-ref doc:name="Go to Handler" doc:id="04a28b1e-2986-4324-bbad-4d07e8564dd5" name="update-productOrder-handler" />
    </flow>
    <flow name="patch:\v1\or_orders\(order_om):application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="516d0e65-5025-4f32-93a3-d797174f46c6" name="patch-update-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\productOrderState:application\json:mongo-sapi-services-config" doc:id="daaa9756-ba6d-44e9-acff-c7bd9c32f520">
        <choice doc:name="Choice" doc:id="845ea973-0602-40ea-8301-a3990dc9a918">
            <when expression="#[attributes.headers.source == &quot;salesforce-xapi-services&quot;]">
                <flow-ref doc:name="Go to Handler OR_RESPUESTA" doc:id="385fa080-d49a-46be-8875-9d2f0e88bdee" name="post-productOrderStateSF-handlerSub_Flow" />
            </when>
            <when expression="#[attributes.headers.source == &quot;gestor-xapi-services&quot;]">
                <flow-ref doc:name="Go to Handler OR_RTA_VIABILIDAD" doc:id="cda7a123-8d1d-4b74-b15a-20911bc898ab" name="post-viabilityResponse-handlerSub_Flow" />
            </when>
            <otherwise>
                <raise-error doc:name="Raise error" doc:id="6b37080a-5261-4165-a922-0be18894d713" type="CUSTOM:SOURCE" description="No se ingresó un source válido" />
            </otherwise>
        </choice>
    </flow>
    <flow name="get:\v1\productOrderState\(ordenOm):mongo-sapi-services-config" doc:id="dec520d0-e154-4c9e-8a44-896349f7e772">
        <flow-ref doc:name="Go to Handler" doc:id="68986426-9008-466e-9de0-abd6f4f64530" name="get-viabilityResponse-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\provisioning:application\json:mongo-sapi-services-config" doc:id="ae9fd5e1-4da8-4bbb-ae52-beda9b463d25">
        <flow-ref doc:name="Go to handler" doc:id="082557b8-ae7d-4344-a28d-2bef9f139762" name="post-provisioningResponse-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\provisioning\(ordenOm):mongo-sapi-services-config" doc:id="90cd5297-72a9-400e-ac02-1845230e2825">
        <flow-ref doc:name="Go to handler" doc:id="574e6a89-2317-4917-8129-57427db53c30" name="get-provisioningResponse-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\bills\homologations\(product_code):mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="b96b32a5-cdc0-46dc-992e-25f57017330e" name="get-bills-homologations-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\orders\(orderNumber):mongo-sapi-services-config">
        <flow-ref doc:name="get-orders-handlerSub_Flow" doc:id="ecb03a41-8de0-4c1a-b313-0e8a17bb97c6" name="get-orders-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\orderExample:mongo-sapi-services-config">
        <flow-ref doc:name="get-ordersExample-handlerSub_Flow" doc:id="f1d7d7ed-2ce3-4e93-9890-ebee5950e2c1" name="get-ordersExample-handlerSub_Flow" />
    </flow>
    <flow name="put:\v1\orders\(orderNumber):application\json:mongo-sapi-services-config">
        <flow-ref doc:name="put-orders-handler" doc:id="03fd1337-3526-4c9c-9c5c-18382baf73d1" name="put-orders-handler" />
    </flow>
    <flow name="post:\v1\orders\(orderNumber):application\json:mongo-sapi-services-config">
        <flow-ref doc:name="post-orders-handlerSub_Flow" doc:id="fb068484-3fc4-4b04-899f-f7d71a2ea3e9" name="post-orders-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\address:mongo-sapi-services-config">
        <flow-ref doc:name="get-address-description-handler" doc:id="e79b50f9-fc63-4a4f-bedd-235ccc8b9a08" name="get-address-description-handler" />
    </flow>
    <flow name="post:\v1\orders\statusDescription:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="get-status-description-handler" doc:id="61296512-9a94-441a-8a2c-19dd5b066c1e" name="get-status-description-handler" />
    </flow>
    <flow name="patch:\v1\orders\(orderNumber):application\json:mongo-sapi-services-config">
        <flow-ref doc:name="patch-orders-handler" doc:id="6dad3b8d-0538-430b-bcaa-d4226e86dca1" name="patch-orders-handler" />
    </flow>
    <flow name="get:\v1\causal:mongo-sapi-services-config">
        <flow-ref doc:name="get-causal-handlerSub_Flow" doc:id="fa2ae07e-368d-479d-b51f-673d2ea6a996" name="get-causal-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\services\(idServiceAccount):mongo-sapi-services-config">
        <flow-ref doc:name="get-idServiceAccount-handlerSub_Flow" doc:id="d08c8c99-d154-4fae-b54c-e2f3067cdb61" name="get-idServiceAccount-handlerSub_Flow" />
    </flow>
    <flow name="patch:\v1\services\(idServiceAccount):application\json:mongo-sapi-services-config" doc:id="d6552696-e838-4d14-a5ff-a99f46798cf6">
        <flow-ref doc:name="Go to Handler" doc:id="4bd7fc1a-2815-45f3-b560-5de12ab84932" name="patch-services-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\clients:mongo-sapi-services-config" doc:id="24dffa57-7cf5-490d-8900-33a481649352">
        <choice doc:name="Choice" doc:id="cf7e2d9d-40f5-48f0-b25d-1454daea0837">
            <when expression="#[attributes.headers.source == 'mietb-xapi-services']">
                <flow-ref doc:name="Go to Handler" doc:id="0fd0f794-0db1-4f04-bb41-210ae2b1c9f6" name="get-clientByDocument-handlerSub_Flow" />
            </when>
            <otherwise>
                <flow-ref doc:name="get-clients-handler" doc:id="db736df1-b192-43ac-8ade-216d1718582d" name="get-clients-handler" />
            </otherwise>
        </choice>
    </flow>
    <flow name="get:\v1\statusScript:mongo-sapi-services-config" doc:id="de22c3d1-5be6-412f-8cbe-228b416ae01e">
        <flow-ref doc:name="get-statusScript-handler" doc:id="73143178-300d-4888-8371-35f54e34f70e" name="get-statusScript-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\parameters\(typeParameter):mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="1b8e2b72-d4ad-4100-9d29-71bfd88b7f0f" name="get-typeParameters-handler" />
    </flow>
    <flow name="put:\v1\provisioning\(ordenOm)\(identificador):mongo-sapi-services-config" doc:id="dc20c761-78d7-44fa-aa87-a655cb89d57c">
        <flow-ref doc:name="Go to handler" doc:id="64b82ce7-8e0c-4e58-b4ce-d837bf9e14ca" name="put-provisioningResponse-handlerSub_Flow" />
    </flow>
    <flow name="put:\v1\productOrderState\(ordenOm)\(idViabilidad):mongo-sapi-services-config" doc:id="ea3b5bf0-17c0-407c-9823-d83b41a1eb03">
        <flow-ref doc:name="Go to Handler" doc:id="a2353940-1e44-41aa-812b-e660118149ab" name="put-viabilityResponse-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\provisioning\(ordenOm)\(identificador):mongo-sapi-services-config" doc:id="31e7c71a-52b2-4091-b3ed-625aa0e0007a">
        <flow-ref doc:name="Go to Handler" doc:id="1e8d2bec-2115-4794-abd1-c7b4212ee415" name="get-provisioningResponse-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\productOrderState\(ordenOm)\(idViabilidad):mongo-sapi-services-config" doc:id="79ab938a-761c-4196-ad0a-05537f3534a6">
        <flow-ref doc:name="Go to Handler" doc:id="974d6c9e-800c-4eaf-a616-78a798818be1" name="get-viabilityResponse-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\billingAccounts:application\json:mongo-sapi-services-config" doc:id="1b64c201-d138-49ed-9aad-4710c522d482">
        <flow-ref doc:name="Go to Handler" doc:id="96866eeb-eae5-4c22-89f8-baa6dadef9c2" name="post-billingAccount-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\billingAccounts\om\(ordenOM):mongo-sapi-services-config" doc:id="5aed6555-4b14-4d6b-b130-a0e4971373e7">
        <flow-ref doc:name="Go to Handler" doc:id="e6586cc9-55f3-439f-977c-089a5a128550" name="get-billingAccount-handlerSub_Flow" />
    </flow>
    <flow name="put:\v1\billingAccounts\om\(ordenOM):mongo-sapi-services-config" doc:id="79489d45-7775-46c4-bc98-0636a2c59a59">
        <flow-ref doc:name="Go to Handler" doc:id="23a94016-d7e3-4901-a233-aa07b7fe9e51" name="put-billingAccount-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\billingAccounts\id\(idCuentaFacturacion):mongo-sapi-services-config" doc:id="a943453a-3264-411b-8d40-fe41cc24fad4">
        <choice doc:name="Choice" doc:id="48259007-7f71-4ab9-94bb-a81e935c5fb8">
            <when expression="#[attributes.queryParams.'MDM' as Boolean default false == true]">
                <flow-ref doc:name="Go to Handler" doc:id="4a067597-b6c4-47fa-8e3b-254eac8da4f5" name="get-billingAccountMDM-handlerSub_Flow" />
            </when>
            <otherwise>
                <flow-ref doc:name="Go to Handler" doc:id="158dc8d9-7eef-4bf6-885d-e427fa40231b" name="get-billingAccount-handlerSub_Flow" />
            </otherwise>
        </choice>
    </flow>
    <flow name="put:\v1\billingAccounts\id\(idCuentaFacturacion):mongo-sapi-services-config" doc:id="14c46f2d-cf9d-479e-96c8-bd8f671030c2">
        <flow-ref doc:name="Go to Handler" doc:id="ae69d676-b207-4289-b0cd-ed217bd1e1b8" name="put-billingAccount-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\clients\(email):mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="eb4be929-2308-45ec-8490-af42e9d12e96" name="get-clientByEmail-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\clients:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="51b9f0bc-e2c0-4ea0-9322-7dbbfa6d686a" name="post-mdmClient-handlerSub_Flow" />
    </flow>
    <flow name="patch:\v1\RNE\characteristic:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="ba83df62-390d-46db-a300-e90962e6a24e" name="patch-rne-characteristic-handlerSub_Flow" />
    </flow>
    <flow name="patch:\v1\orders\(orderNumber)\postes\(idPoste):application\json:mongo-sapi-services-config" doc:id="6d4cb0a0-62e8-4ddc-9398-d9dd88f7a11f">
        <flow-ref doc:name="Go to handler" doc:id="0f72b1b6-d3b7-4c7e-a5d6-83f0bccc401c" name="patch-parametersPostes-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\productURN:mongo-sapi-services-config">
        <flow-ref doc:name="get-productURN-handlerSub_Flow" doc:id="e410785a-9ed7-4366-aaaa-c1944a07f3eb" name="get-productURN-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\services:mongo-sapi-services-config">
        <flow-ref doc:name="get-servicesbyDoc-handlerSub_Flow" doc:id="58390a65-1d39-4bfc-a1b7-8bbbbc8198ea" name="get-servicesbyDoc-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\notifySFOrderBillingFinished:mongo-sapi-services-config" doc:id="90b41370-1978-452b-acad-bc9b436f7921">
        <flow-ref doc:name="Go to Handler" doc:id="3e80a3ac-c7f5-4956-ad42-37f25f64a685" name="post-notifySFOrderBillingFinished-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\bills\duplicate\(cuentaFacturacion):mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="bf9b08d8-4e4c-49ba-9ea5-a3fc36a1a680" name="get-facturaOnline-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\login:application\json:mongo-sapi-services-config" doc:id="fd370151-8b4e-483f-9fba-6c828dded5d0">
        <flow-ref doc:name="Go to handler" doc:id="56a650d2-05b5-4d43-a0ea-5bf9cd6e95ff" name="get-login-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\campanias\(campania):mongo-sapi-services-config">
        <flow-ref doc:name="get-campanias-handlerSub_Flow" doc:id="e9126190-2201-4106-a1f1-a9fce0d8a1eb" name="get-campanias-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\pqrs\agenda_tmr\(orderNumber):mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="08d630e4-076c-4c7a-bcbe-2c631b26e9d2" name="get-pqrAgendaTmr-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\message:application\json:mongo-sapi-services-config" doc:id="1b53e30b-7c4c-48ea-bb15-227d8851ca6c">
        <flow-ref doc:name="Go to handler" doc:id="b0baf35b-acf2-4ac1-83d5-b32c0186f889" name="post-message-handlerSub_Flow" />
    </flow>
    <flow name="delete:\v1\multiusuarios:mongo-sapi-services-config">
        <flow-ref doc:name="delete-multiusuarios-handlerSub_Flow" doc:id="6f9dd94e-2cc8-4438-a95e-96d5f563b0a0" name="delete-multiusuarios-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\multiusuarios:mongo-sapi-services-config">
        <flow-ref doc:name="get-multiusuarios-handlerSub_Flow" doc:id="6ae7ad3b-a43c-44ca-a163-a1e316141ee4" name="get-multiusuarios-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\multiusuarios:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="post-multiusuarios-handlerSub_Flow" doc:id="5b81e661-e531-4988-b604-dd9fe85c5453" name="post-multiusuarios-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\referred\services:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="f53a2656-389b-4604-a2ef-2247ca83e746" name="get-referredServices-handlerSub_Flow" />
    </flow>
    <flow name="patch:\v1\clients:mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="5bb1aa66-50b7-40eb-935e-aec4f8d7603e" name="patch-clients-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\referred:mongo-sapi-services-config" doc:id="e471f6b0-b6f6-4f9a-b6f2-f8ff2c1857e9">
        <flow-ref doc:name="Go to Handler" doc:id="b89bf4de-28c7-4af9-a87d-24f7e9e6722c" name="get-referred-handler" />
    </flow>
    <flow name="patch:\v1\referred:mongo-sapi-services-config" doc:id="f9de2a7f-23ca-41d7-85df-d0d1574264ad">
        <flow-ref doc:name="Go to Handler" doc:id="506ab572-1358-492d-a3b6-9cece4032b26" name="patch-referred-handler" />
    </flow>
    <flow name="get:\v1\token:mongo-sapi-services-config">
        <flow-ref doc:name="get-token-handlerSub_Flow" doc:id="3329ef1b-4438-42b2-a976-7b5aaae86bd9" name="get-token-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\token:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="post-token-handlerSub_Flow" doc:id="bfa7696a-872b-4da3-82e0-e6a49a877fe7" name="post-token-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\pqrs:mongo-sapi-services-config" doc:id="2000782e-d582-4c62-bac8-d05fdb7bf034">
        <flow-ref doc:name="Go to Handler" doc:id="6011911f-ef37-4068-887f-d38222808b82" name="get-pqr-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\billAmont\(cuentaFacturacion):mongo-sapi-services-config" doc:id="46b95006-b914-44ca-85ff-8c2d291002da">
        <flow-ref doc:name="Go to Handler" doc:id="43447f8f-29d7-4256-8972-424739814977" name="get-BillAmont-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\service\(id):mongo-sapi-services-config" doc:id="8afcec59-27d7-463a-9ed9-0fbba1f2efbb">
        <flow-ref doc:name="Go to Handler" doc:id="f5067463-9c8f-45b5-9c02-84636aad16ce" name="get-service-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\onlineBill\(cuentaFacturacion):mongo-sapi-services-config" doc:id="f2e620fc-2b3a-4027-bad9-52ae960188bb">
        <flow-ref doc:name="Go to Handler" doc:id="40dabc2f-f2cf-4200-85ba-69b1fbaaa7c8" name="get-onlineBill-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\activeService\(id):mongo-sapi-services-config" doc:id="e9906f7f-2653-430f-ab2e-f3e2adb04317">
        <flow-ref doc:name="Go to Handler" doc:id="9111791b-25cb-4ab5-aa2d-320579665cb5" name="get-activeService-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\orderService\(cuentaFacturacion):mongo-sapi-services-config" doc:id="74aba158-2b4d-4b04-a41a-9d22694be7d3">
        <flow-ref doc:name="Go to Handler" doc:id="1bd93ae7-472c-449c-ad2b-473d86a2641f" name="get-orderService-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\order\(cuentaFacturacion):mongo-sapi-services-config" doc:id="a9bdcf35-0ca6-4604-a586-af908dd40aad">
        <flow-ref doc:name="Go to Handler" doc:id="ec71625f-42a3-4b8d-9d50-077b27d4ba03" name="get-orderByCtaFact-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\parametrization\(code):mongo-sapi-services-config" doc:id="73f09460-99d0-4f27-b86a-3cbf0ca01879">
        <flow-ref doc:name="Go to Handler" doc:id="40199861-fc5d-47dd-9dac-85b19269f224" name="get-parametrization-handlerSub_Flow" />
    </flow>
    <flow name="delete:\v1\usuarios:mongo-sapi-services-config" doc:id="2212202d-5278-4bec-819f-8dec94b86c4c">
        <flow-ref doc:name="Go to Handler" doc:id="231569e1-d6fb-4f31-9d60-7db0f599eaa8" name="delete-usuarios-handlerSub_Flow" />
    </flow>
    <flow name="patch:\v1\parameters\(typeParameter):application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="3d9fee70-39fd-47aa-a8e6-be3a7997ef5e" name="patch-typeParameters-handler" />
    </flow>
    <flow name="get:\v1\clients\channels:mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="bf63d1d6-944a-4b0e-b3ff-2972c85c0f33" name="get-clientsByChannel-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\parameters\integraciones_tramites:mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="c8f2e327-7694-4504-8a5a-a5e54e61c8ca" name="get-parIntegracionesTramites-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\pqrs\compensations:mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="ebac3e3d-2e26-4ceb-b800-32e0f4a218d5" name="get-pqrCompensation-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\parametrization:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="e3313701-9de9-49d4-b57d-ab17f6ade079" name="get-parametrization-valor-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\ms\clients\(id):mongo-sapi-services-config" doc:id="9ac6cc3e-333f-47dd-af96-dfa0918d511b">
        <flow-ref doc:name="Go to Handler" doc:id="813a6645-e40d-4e1c-a21c-3510a1f4e725" name="get-ms-clients-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\usuarios:mongo-sapi-services-config" doc:id="1e1762cc-1f49-4de6-9654-b9037284cfde">
        <flow-ref doc:name="Go to Handler" doc:id="8b3985b6-f50d-4e10-94b2-c3566a6e1823" name="get-usuario-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\ms\systems\(name):mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="47e18d06-6c3d-4d9f-a45a-d7ed7a41f060" name="get-ms-systems-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\ms\token:application\json:mongo-sapi-services-config" doc:id="91cd6682-e053-43a9-96ab-2c5567ab9979">
        <flow-ref doc:name="Go to Handler" doc:id="6eac0baa-29ec-4b26-990e-63d2797cbcdf" name="post-ms-token-handlerSub_Flow" />
    </flow>
    <flow name="patch:\v1\clients\(email):application\json:mongo-sapi-services-config" doc:id="d1cc6eb3-b575-4d6c-b721-1e850e000979">
        <flow-ref doc:name="Go to Handler" doc:id="06a8695c-a2c0-4ce2-8c40-a443527351d9" name="patch-clients-portal-unificado-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\tramites:mongo-sapi-services-config" doc:id="1e1bd6b8-af16-4951-b5cb-5c604cba2245">
        <flow-ref doc:name="Go to Handler" doc:id="728f1875-7c2c-4a3b-b732-a253eca096a5" name="get-tramites-handlerSub_Flow" />
    </flow>
	<flow name="get:\v1\offers\(id):mongo-sapi-services-config" doc:id="df7a4c65-5082-455c-966f-0ea0316d3f5c" >
		<flow-ref doc:name="Go to Handler" doc:id="2b83f921-853d-494d-ae91-e0366ab618a6" name="get-offer-handlerSub_Flow"/>
	</flow>
	<flow name="get:\v1\commercialCatalog:mongo-sapi-services-config" doc:id="f41ffbd7-501b-46df-8bab-5a4b933403f7">
		<flow-ref doc:name="get-commercialCatalog-handlerSub_Flow" doc:id="c6297881-4d88-4926-a376-c3a76390b4ef" name="get-commercialCatalog-handlerSub_Flow" />
    </flow>
	<flow name="post:\v1\productOfferByGroupingNumber:application\json:mongo-sapi-services-config" doc:id="6f069e47-4a46-4ad8-a157-d998682ef4ed" >
		<flow-ref doc:name="get-productOfferByGroupingNumber-handlerSub_Flow" doc:id="750760e7-0028-451a-985f-8fa30409fffe" name="get-productOfferByGroupingNumber-handlerSub_Flow" />
    </flow>
	<flow name="post:\v1\send-message:mongo-sapi-services-config" doc:id="744e3b2e-50a6-4dfe-a44b-fe6c44438d2f" >
		<flow-ref doc:name="Flow Reference" doc:id="41e2f371-e317-4108-909a-9ee76003cb52" name="post-send-message-orchestratorFlow"/>
	</flow>
    <flow name="get:\v1\svas\(id):mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="ecd8233f-c3de-40b1-bab2-ac0664de4dce" name="get-svas-id-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\active-service:mongo-sapi-services-config" doc:id="085931c6-33e6-4f3f-8c4e-ef1c1a92ce9a">
        <flow-ref doc:name="Go to Handler" doc:id="66ffe2ea-8f61-4cbe-bfa9-a27f8944142d" name="get-active-service-only-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\portability\process\(idProceso):mongo-sapi-services-config" doc:id="a84d4aa8-5651-48f4-92bb-8ea1db3debb3">
        <flow-ref doc:name="Go to Handler" doc:id="bdd125b9-0147-441d-87fe-f8a2efa9b1ed" name="get-portability-idProcess-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\portability\process:mongo-sapi-services-config" doc:id="828bcd8d-8bc2-4bcb-ac6b-4b981a3a7bb4">
        <flow-ref doc:name="Go to Handler" doc:id="98fc2eaf-bccf-4401-8854-7b74bbd4ca05" name="post-portability-process-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\pqrs\fallaMasiva:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="96b0171b-9855-487b-8ba8-11da1e3612ed" name="get-pqr-fallaMasiva-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\parameters\par_params\(name):mongo-sapi-services-config">
        <flow-ref doc:name="Go to Handler" doc:id="481a2601-6e50-498b-8a22-b1d78cee9e48" name="get-parParameters-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\services\active\(integrationId):mongo-sapi-services-config" doc:id="efd2a2b6-8030-4d00-9d2c-945118ca9f76">
        <flow-ref doc:name="get-serviceByIntegrationId-handlerSub_Flow" doc:id="23ff0547-e75c-4126-9cc1-7f884ea4dd38" name="get-serviceByIntegrationId-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\dtvProduct:mongo-sapi-services-config" doc:id="bf5764e6-82c4-4be4-a89f-24c9e2097889">
        <flow-ref doc:name="Go to dtvProduct-handlerSub_Flow" doc:id="9cdfa043-0d11-49dd-b09e-cd4aa87ff2b2" name="dtvProduct-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\manualEquipos:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="17c4a839-2bde-4224-95eb-e3bcdf218096" name="get-manualEquipos-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\agreements:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="b18b101d-0a87-451a-8ffd-52fe2cfcbc59" name="post-agreements-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\agreements\logs:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="6bd825cd-e0fc-4d2f-9e45-5f779ff8f4a9" name="post-agreements-logs-handlerSub_Flow" />
    </flow>
    <flow name="patch:\v1\agreements\(acuerdoId):application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="8b09d405-66a4-4345-844a-0f0dde23c749" name="patch-agreements-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\interaction:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="aea4226b-257b-4b76-961e-3eeb69e6dae4" name="post-interaction-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\interaction:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="124c1244-2f35-4e1b-bd13-566b190e6ee4" name="get-interaction-handlerSub_Flow" />
    </flow>
    <flow name="patch:\v1\interaction:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="47027e8f-0eac-4ad6-8caa-37b65f642d09" name="patch-interaction-handlerSub_Flow" />
    </flow>
    <flow name="post:\v1\interaction\logs:application\json:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="2c8523c6-9d74-461c-9970-bbd045775438" name="post-interaction-logs-handlerSub_Flow" />
    </flow>
    <flow name="delete:\v1\interaction:mongo-sapi-services-config">
        <flow-ref doc:name="Go to handler" doc:id="467a09e4-813a-4178-b805-1cf762b9d74d" name="delete-interaction-handlerSub_Flow" />
    </flow>
    <flow name="get:\v1\agreements\(acuerdoId):mongo-sapi-services-config">
		<flow-ref doc:name="Go to handler" doc:id="790b7fe6-ad1d-475d-b5f6-54f1b80f5d9a" name="get-agreements-handlerSub_Flow"/>
    </flow>
    <flow name="get:\v1\billingAccounts:mongo-sapi-services-config" doc:id="853dcf79-3390-4664-929a-a25292a2a0f4" >
		<flow-ref doc:name="Go to handler" doc:id="ab70e5bd-b8bf-4dc3-9631-0812189822c9" name="get-billingAccounts-handlerSub_Flow"/>
    </flow>
	<flow name="post:\v1\logMessages:mongo-sapi-services-config" doc:id="26e85a2f-65a2-4bbf-be8c-2503c29f7e5d" >
		<flow-ref doc:name="Go to handler" doc:id="1958e7fb-294a-4c73-ad65-a7c9a37e398d" name="post-log-message-handlerSub_Flow"/>
	</flow>
	<flow name="get:\v1\logMessages:mongo-sapi-services-config" doc:id="8b212afa-c20b-4683-bd46-69c658318471" >
		<flow-ref doc:name="Flow Reference" doc:id="8c7bad3f-a534-4e81-9a28-b5c9e5631bbc" name="get-log-message-handlerSub_Flow"/>
	</flow>
	<flow name="patch:\v1\logMessages:mongo-sapi-services-config" doc:id="af194bf5-1c5c-4c9d-a758-a76e3fe36cf3" >
		<flow-ref doc:name="Flow Reference" doc:id="7c8e4aca-218a-4e14-963c-b221de639dca" name="patch-log-message-handlerSub_Flow"/>
	</flow>
	<flow name="patch:\v1\logMessages\infoMessage:mongo-sapi-services-config" doc:id="c597b336-2bcd-40f9-adc3-bdd825a4e1ea" >
		<flow-ref doc:name="Go to Handler" doc:id="5b10d78e-f458-445e-8ae5-74b805f46e84" name="patch-log-message-handlerSub_Flow"/>
	</flow>
	<flow name="post:\v1\enrutadorMensajes:mongo-sapi-services-config" doc:id="4b584468-c848-4172-be38-14c746ac1fa8" >
		<flow-ref doc:name="Flow Reference" doc:id="8f2e897a-6f2f-4c21-aa0b-8375bcad84cc" name="post-enrutador-datos-handlerSub_Flow"/>
	</flow>
	<flow name="get:\v1\enrutadorMensajes:mongo-sapi-services-config" doc:id="a717064c-8fe3-44a2-9155-19ae4d2ed55f" >
		<flow-ref doc:name="Flow Reference" doc:id="585b6b99-acd7-4065-b1f7-62825aadec7a" name="get-enrutador-datos-handlerSub_Flow"/>
	</flow>
	<flow name="patch:\v1\enrutadorMensajes\(id):mongo-sapi-services-config" doc:id="18281922-1dee-4b0f-8802-1d523d67925b" >
		<flow-ref doc:name="Flow Reference" doc:id="5b3509e9-23b4-4da2-9401-a2397385864d" name="patch-enrutador-datos-handlerSub_Flow"/>
	</flow>
	<flow name="delete:\v1\enrutadorMensajes:mongo-sapi-services-config" doc:id="b489bade-8f0d-4488-9e9f-731fdf15f094" >
		<flow-ref doc:name="Flow Reference" doc:id="3007f557-f9be-40d1-a312-4704fbf78f66" name="delete-enrutador-datos-handlerSub_Flow"/>
	</flow>
</mule>
