sisext-sapi-services/src/main/mule/client/atp-client.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="post-atpAuth-clientSub_Flow" doc:id="86084b70-d6d4-475e-916a-4babe699a307" >
		<async doc:name="Async" doc:id="4e9ac675-4594-456d-b55a-aed8412b7213">
					<flow-ref doc:name="Call Logger" doc:id="e3fe122f-374b-4a68-b72e-579b432fc38d" name="loggin-client-call" />
		</async>
		<http:request method="POST" doc:name="Request to ATP Client" doc:id="0db26d2e-80c8-4748-adfd-5fd6b3a27536" config-ref="ATP_HTTP_Request_configuration" path="${atp.path.auth}">
		</http:request>
		<async doc:name="Async" doc:id="e063797e-4bc1-430a-9996-dbb5a900b80a">
			<flow-ref doc:name="Call Logger" doc:id="a083f2da-9603-44d6-b3fa-7937b71fc753" name="loggin-client-call" />
		</async>
		<choice doc:name="Choice" doc:id="1055b51d-a90d-4903-a8f7-e94ff3798e5f" >
			<when expression="#[payload.response.error != null]">
				<raise-error doc:name="Raise error" doc:id="5880a8ba-0855-46f0-8c8b-7f53b66e3b3c" type='CUSTOM:AUTH_ERROR'/>
			</when>
		</choice>
	</sub-flow>
	<flow name="post-atpServiceQualification-clientSub_Flow" doc:id="ef337bd3-a859-44c1-8918-add1c43e13ca" >
		<async doc:name="Async" doc:id="3c02f323-bb2b-4677-95c7-a49811ccd03c">
			<flow-ref doc:name="Call Logger" doc:id="2b8a21c9-1192-420d-ba89-0a4b464efcea" name="loggin-client-call" />
		</async>
		<http:request method="POST" doc:name="Request to ATP Client" doc:id="e49595b6-a4d9-4e98-bd35-a3503b0da586" config-ref="ATP_HTTP_Request_configuration" path="${atp.path.serviceQualification}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ (vars.token.access_token default "")
}]]]></http:headers>
		</http:request>
		<async doc:name="Async" doc:id="b0acb426-0a35-40cb-8b59-be0f88b5df7a">
			<flow-ref doc:name="Call Logger" doc:id="d3dc4fa8-c865-4f53-a360-9ca78015a992" name="loggin-client-call" />
		</async>
	</flow>
	<flow name="post-atpServiceActivation-clientSub_Flow" doc:id="600e8c7d-9257-4073-8d37-bd22557eb26e" >
		<async doc:name="Async" doc:id="cf49441b-ed30-4abd-a24b-309617cfc45a">
			<flow-ref doc:name="Call Logger" doc:id="0837e246-8da9-4966-bfdb-1ff3ce6cb6f4" name="loggin-client-call" />
		</async>
		<http:request method="POST" doc:name="Request to ATP Client" doc:id="99d1f0b2-4020-47c3-9864-b139e18c771d" config-ref="ATP_HTTP_Request_configuration" path="${atp.path.serviceActivation}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ (vars.token.access_token default "")
}]]]></http:headers>
		</http:request>
		<async doc:name="Async" doc:id="05e70090-3697-4142-a5cc-dcfd0b1df931">
			<flow-ref doc:name="Call Logger" doc:id="d7ee5bc7-30a7-4d5a-9e45-a2431710c59a" name="loggin-client-call" />
		</async>
	</flow>
	<flow name="post-atpServiceTermination-clientSub_Flow" doc:id="e34784d3-abf1-4dae-b83a-74db58b4dd3e" >
		<async doc:name="Async" doc:id="99f1e1b7-85e7-42ec-aa2f-8a0c20370cbe">
			<flow-ref doc:name="Call Logger" doc:id="306abd8e-86b3-4f77-aae1-fb4dc178b413" name="loggin-client-call" />
		</async>
		<http:request method="POST" doc:name="Request to ATP Client" doc:id="088a5798-f283-496e-81f1-cf81fb91787d" config-ref="ATP_HTTP_Request_configuration" path="${atp.path.serviceTermination}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ (vars.token.access_token default "")
}]]]></http:headers>
		</http:request>
		<async doc:name="Async" doc:id="6aa34e66-2393-4033-bc86-df77abfb383e">
			<flow-ref doc:name="Call Logger" doc:id="ad355213-08ef-4ccb-af3a-def9f610b22b" name="loggin-client-call" />
		</async>
	</flow>
	<flow name="post-atpServiceModification-clientSub_Flow" doc:id="31ef6238-a937-4462-879d-f2416c8a5197" >
		<async doc:name="Async" doc:id="e8bda5a4-93d7-4ab7-b8e0-8a2a231c02d0">
			<flow-ref doc:name="Call Logger" doc:id="32ff0d35-8b3c-42d7-aabd-d5aa03bb5b99" name="loggin-client-call" />
		</async>
		<http:request method="POST" doc:name="Request to ATP Client" doc:id="a59b856b-1621-4344-90f6-c59317f23701" config-ref="ATP_HTTP_Request_configuration" path="${atp.path.serviceModification}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ (vars.token.access_token default "")
}]]]></http:headers>
		</http:request>
		<async doc:name="Async" doc:id="426475df-9220-4ce6-a4ec-0e81cb1dc295">
			<flow-ref doc:name="Call Logger" doc:id="830a88c7-d5c2-4efb-962d-30a3a4bfd124" name="loggin-client-call" />
		</async>
	</flow>
	<flow name="post-atpSpeedChange-clientSub_Flow" doc:id="a8b7c9d1-2e3f-4567-8901-234567890abc">
		<async doc:name="Async" doc:id="b9c8d7e2-3f4e-5678-9012-345678901bcd">
			<flow-ref doc:name="Call Logger" doc:id="c0d9e8f3-4f5e-6789-0123-456789012cde" name="loggin-client-call" />
		</async>
		<http:request method="POST" doc:name="Request to ATP Client" doc:id="d1e0f9g4-5f6e-7890-1234-567890123def" 
					config-ref="ATP_HTTP_Request_configuration" path="${atp.path.speedChange}">
			<http:headers><![CDATA[#[output application/java
	---
	{
		"Authorization" : "Bearer " ++ (vars.token.access_token default "")
	}]]]></http:headers>
		</http:request>
		<async doc:name="Async" doc:id="e2f1g0h5-6f7e-8901-2345-678901234efg">
			<flow-ref doc:name="Call Logger" doc:id="f3g2h1i6-7f8e-9012-3456-789012345fgh" name="loggin-client-call" />
		</async>
	</flow>
</mule>
