resource-xapi-services/src/main/mule/resource-xapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="resource-xapi-services-main" doc:id="e12a841f-254f-47f4-9a5e-d8b0f364f926" >
		<http:listener doc:name="Listener" doc:id="9b3a6942-d726-4ba7-83ee-438f67daed81" config-ref="resource-xapi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="536a51b9-c574-48ae-a50d-598ccd789b49" name="initial-loggin-Sub_Flow" />
		<apikit:router doc:id="10042528-04aa-4f61-ab94-85ad4eb630e1" doc:name="" config-ref="resource-xapi-services-config"/>
		<async doc:name="Async" doc:id="5094121f-9c21-430b-8cf8-0c948405b2c5" >
			<flow-ref doc:name="Call logger" doc:id="291ed2cc-85cb-49b8-95b4-e2bc15621ada" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="resource-xapi-services-console" doc:id="84ca0c4a-07e7-46ed-899e-d80367cbae99" >
		<http:listener doc:name="Listener" doc:id="440f8c4a-1403-407a-b6e7-7d633e74a9f0" config-ref="resource-xapi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="1cf2b353-9295-4811-93e1-766369a755fe" doc:name="" config-ref="resource-xapi-services-config"/>
	</flow>
	<flow name="post:\resourceFunction:application\json:resource-xapi-services-config" doc:id="cf5a4e89-51dd-4b60-877a-798656de80ff" >
		<flow-ref doc:name="Flow Reference" doc:id="497939e1-fde9-4e60-abf5-d2e120500e47" name="post-resourceFunction-clientSub_Flow"/>
	</flow>
	<flow name="post:\resourceFunction\setWifiPassword:application\json:resource-xapi-services-config" doc:id="453b650c-6e05-4967-af44-8721d0b64ae4" >
		<flow-ref doc:name="Flow Reference" doc:id="0afc9172-40c5-4fa3-8518-f755525aa5f5" name="post-resourceFunction-setwifipassword-clientSub_Flow"/>
	</flow>
	<flow name="post:\resourceFunction\configureService:application\json:resource-xapi-services-config" doc:id="4262ebb0-923c-41ec-8b46-25c4e805d64c" >
		<flow-ref doc:name="Flow Reference" doc:id="0e215b21-44ed-41a9-bf96-6906a725186c" name="post-resourceFunction-configure-service-clientSub_Flow"/>
	</flow>
	<flow name="post:\resourceFunction\configureService\registerDevice:application\json:resource-xapi-services-config" doc:id="f582b30c-0f06-481f-a3b7-c7365c0f79db" >
		<flow-ref doc:name="Flow Reference" doc:id="36ed8710-f402-4d32-96e1-d9d6924e4240" name="post-resourceFunction-configure-service-registerDevice-clientSub_Flow" />
	</flow>
</mule>
