product-papi-services/src/main/mule/Client/get-promotion-client.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-promotion-clientFlow" doc:id="8a3bceab-2e06-4dfe-a4cc-abe2a77f6675" >
		<logger level="INFO" doc:name="Logger" doc:id="6e24a122-13d1-4e8b-94df-f360bad44238" message='#[output application/json
---
{
  "filter": vars.mongo_query,
  "fields": vars.projection,
  "offset": vars.offset,
  "limit": vars.limit
}]'/>
		<http:request method="POST" doc:name="Request" doc:id="65176df2-412a-4001-ac7c-bc6ebf565fe9" config-ref="mongoDb-HTTP_Request_configuration" path="${mongoDb-sapi.path.promotion}">
			<http:body ><![CDATA[#[output application/json
---
{
  "filter": vars.mongo_query,
  "fields": vars.projection,
  "offset": vars.offset,
  "limit": vars.limit
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : p('mongoDb-sapi.client_secret'),
	"client_id" : p('mongoDb-sapi.client_id'),
	"name": attributes.headers.name,
	"X-CORRELATION-ID": attributes.headers."X-CORRELATION-ID",
	"source": attributes.headers.source,
	"systemId": attributes.headers.systemId
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="ba6cce11-47f9-455d-bc50-dc9578a1f076" message="#[output application/json
---
payload]"/>
	</flow>
</mule>
