customer-xapi-services/src/main/mule/customer-xapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="customer-xapi-services-main" doc:id="681076fd-51b7-427d-9574-1a32e03ee61e" >
		<http:listener doc:name="Listener" doc:id="dec9c6bc-78e7-46c3-81bb-b280c31b8d83" config-ref="customer-xapi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="23476213-bc25-48cd-9233-964479d03e54" name="initial-loggin-Sub_Flow"/>
		<apikit:router doc:id="ce0de7bb-9a4a-4a41-beeb-43d5a5603738" config-ref="customer-xapi-services-config"/>
		<async doc:name="Async" doc:id="992d0c21-05d4-4081-bbfb-f4b9ad297dc5" >
			<flow-ref doc:name="Call logger" doc:id="62ebe84a-0062-4c9f-985b-98a3e5b200b3" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="customer-xapi-services-console" doc:id="0587dfa2-52d7-4d27-ba67-22e97e24a9e1" >
		<http:listener doc:name="Listener" doc:id="cc09e23a-c1fd-45b1-a9c3-f04309b5248d" config-ref="customer-xapi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="d2de24fa-3516-49c7-b2b8-991d9e5bbb13" config-ref="customer-xapi-services-config" doc:name="APIkit Console" />
	</flow>
	<flow name="get:\customer:customer-xapi-services-config" doc:id="e8a8a18b-5356-4c96-b44c-906538a09fdc" >
		<flow-ref doc:name="Flow Reference" doc:id="c4781076-b4ee-4c97-ab7a-4c02b1c4414a" name="customer-papi-get-customer-clientSub_Flow"/>
	</flow>
	<flow name="post:\customer:application\json:customer-xapi-services-config" doc:id="1aa372fc-f70a-4172-9972-b987193ded81">
		<flow-ref doc:name="Flow Reference" doc:id="5afbd76f-b1bb-4717-9fa3-33e00c0ca835" name="customer-papi-create-customer-clientSub_Flow"/>
	</flow>
	<flow name="patch:\customer:application\json:customer-xapi-services-config" doc:id="7f9c06c0-f0f8-4ad1-855b-cda8e1c4f918">
		<flow-ref doc:name="Flow Reference" doc:id="0e4e3c98-7d5b-4bdb-aed2-b6aa8c6cdf99" name="customer-papi-update-customer-clientSub_Flow"/>
	</flow>
	<flow name="get:\productOrder:customer-xapi-services-config" doc:id="d99fbd55-a1e0-4174-8938-5b644e71aeee" >
		<flow-ref doc:name="Flow Reference" doc:id="2282d896-49de-488f-8f53-93dd8104ab06" name="customer-papi-get-productOrder-clientSub_Flow"/>
	</flow>
	<flow name="get:\customerBill:customer-xapi-services-config" doc:id="8bf6049f-3cf5-434a-9306-f3921f667251" >
		<flow-ref doc:name="Flow Reference" doc:id="bc9e1c85-e224-4455-b055-d81ca5d7561a" name="customer-papi-get-customerBill-clientSub_Flow"/>
	</flow>
	<flow name="get:\customerBill\balance:customer-xapi-services-config" doc:id="3f32bfa8-07c7-440e-909e-307cf3e4ed7f" >
		<flow-ref doc:name="Flow Reference" doc:id="a6e5fdea-3077-46ba-a507-bdf0006e6105" name="customer-papi-get-customerBill-balance-clientSub_Flow"/>
	</flow>
	<flow name="get:\customerBill\clearance:customer-xapi-services-config" doc:id="824a75b3-d4a6-40e1-9d97-db5cc0278dcc">
		<flow-ref doc:name="Flow Reference" doc:id="b4a9b30b-4d27-4d46-adf6-d37f3fedc7f3" name="customer-papi-get-customerBill-clearance-clientSub_Flow"/>
	</flow>
	<flow name="get:\riskManagement:customer-xapi-services-config" doc:id="a9590709-80ca-4371-82ce-512e1cf5f283" >
		<flow-ref doc:name="Flow Reference" doc:id="6e029c14-8d75-408a-baf6-a6a02d77f044" name="customer-papi-get-riskManagement-clientSub_Flow"/>
	</flow>
	<flow name="get:\customerBill\debts:customer-xapi-services-config" doc:id="6c115bee-f0ee-413a-987f-e6df046d8ea9" >
		<flow-ref doc:name="Flow Reference" doc:id="38728887-2c74-4919-ae7c-98c4a3bf6b15" name="customer-papi-get-debts-clientSub_Flow" />
	</flow>
	<flow name="post:\customer\authorizationTdp:application\json:customer-xapi-services-config" doc:id="c74f05fc-8376-44a0-be1d-30371b0d20c8" >
		<flow-ref doc:name="Flow Reference" doc:id="464e6689-1889-4c13-96bd-b1122291be39" name="customer-papi-post-authorizationTDP-clientSub_Flow" />
	</flow>
</mule>
