common-papi-services-v2/src/main/mule/common-papi-services-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="common-papi-services-main" doc:id="cfaa3d64-c9e4-4f8e-ba03-77a7a2e1cb97" >
		<http:listener doc:name="Listener" doc:id="8fcd058d-5dee-4f0d-8864-39fccfcde701" config-ref="common-papi-services-v2-httpListenerConfig" path="/v2/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Call initial Logger" doc:id="772cd157-90db-4fa2-8f86-29ec8eeffbc5" name="initial-loggin-Sub_Flow" />
		<apikit:router doc:name="APIkit Router" doc:id="effe1105-faee-41f0-864b-fbc93500e419" config-ref="common-papi-services-config" />
		<async doc:name="Async" doc:id="c46f3d1f-2ad1-4890-8731-e6833f46ccf3" >
			<flow-ref doc:name="Call logger" doc:id="c3d3e6cf-6a3a-4036-ab88-b7fc0214d1e4" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="common-papi-services-console" doc:id="f99e6432-3a71-43e5-92a4-598964da740a" >
		<http:listener doc:name="Listener" doc:id="084bc601-c42f-4641-b7bd-494feb556793" config-ref="common-papi-services-v2-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:name="APIkit Console" doc:id="3f883827-754f-4511-b7ff-146abfe352e4" config-ref="common-papi-services-config" />
	</flow>
	<flow name="get:\parameters:common-papi-services-config" doc:id="3f08ecc0-d567-4ddc-b073-b6b65cfedde9" >
		<flow-ref doc:name="Flow Reference" doc:id="2f7e1aaf-788c-4565-ab40-58b70deb2db2" name="parametersRetention-get-orchestadorSub_Flow"/>
	</flow>
</mule>
