resource-papi-services/src/main/mule/resource-papi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="resource-papi-services-main" doc:id="df15e083-efef-445c-92bc-9f87d289a468" >
		<http:listener doc:name="Listener" doc:id="b788b020-bf2a-45e6-957a-ccf83d3a182c" config-ref="resource-papi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router doc:name="APIkit Router" doc:id="2d5140b3-3f00-485b-893d-1be9b288d5a8" config-ref="resource-papi-services-config" />
		<flow-ref doc:name="Flow Reference" doc:id="53e0a732-e7b2-46e4-873c-e022d46ecf6e" name="initial-loggin-Sub_Flow" />
		<async doc:name="Async" doc:id="e1f9e1d0-56e8-4cc6-9283-f7cce174cead" >
			<flow-ref doc:name="Call logger" doc:id="722e7b0a-6f0d-4f53-8e35-e17d55783cce" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="resource-papi-services-console" doc:id="a43b85c1-854d-4158-9ca6-2cf9e23e0157" >
		<http:listener doc:name="Listener" doc:id="1de12685-30a7-4744-b4a1-18559a9c5c21" config-ref="resource-papi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:name="APIkit Console" doc:id="a78d14d5-9dd7-4a82-a532-0769d529d8d8" config-ref="resource-papi-services-config" />
	</flow>
	<flow name="post:\resourceFunction:application\json:resource-papi-services-config" doc:id="607e759b-93f2-4dc3-9a93-98a6403a3ad1" >
		<flow-ref doc:name="Flow Reference" doc:id="de36b01c-0728-4591-9da8-9fbcadd11596" name="resource-function-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\resourceFunction\setResourceNetwork:application\json:resource-papi-services-config" doc:id="2dbfb5c1-e474-41f8-a6ea-252b276c3324" >
		<flow-ref doc:name="Flow Reference" doc:id="df387c2a-e41b-4bff-ad14-9cb8fbf6dad3" name="resource-function-set-resource-networkSub_Flow"/>
	</flow>
	<flow name="post:\resourceFunction\configureService:application\json:resource-papi-services-config" doc:id="de365114-de7f-441b-b352-cb9092c18b6e" >
		<flow-ref doc:name="Flow Reference" doc:id="ddda3d08-4031-4b82-8482-92a0e5e9a1a2" name="post-resource-function-configure-service-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\resourceFunction\configureService\registerDevice:application\json:resource-papi-services-config" doc:id="3c5d9eab-e48f-4702-8d99-7610c3e57c55" >
		<flow-ref doc:name="Flow Reference" doc:id="8f4537ba-94ca-4683-9893-048b0f0eeb27" name="post-configure-service-register-device-orchestratorSub_Flow"/>
	</flow>
</mule>
