resource-papi-services/src/main/mule/resource-papi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="resource-papi-services-main" doc:id="df15e083-efef-445c-92bc-9f87d289a468" >
		<http:listener doc:name="Listener" doc:id="b788b020-bf2a-45e6-957a-ccf83d3a182c" config-ref="resource-papi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router doc:name="APIkit Router" doc:id="2d5140b3-3f00-485b-893d-1be9b288d5a8" config-ref="resource-papi-services-config" />
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="resource-papi-services-console" doc:id="a43b85c1-854d-4158-9ca6-2cf9e23e0157" >
		<http:listener doc:name="Listener" doc:id="1de12685-30a7-4744-b4a1-18559a9c5c21" config-ref="resource-papi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:name="APIkit Console" doc:id="a78d14d5-9dd7-4a82-a532-0769d529d8d8" config-ref="resource-papi-services-config" />
	</flow>
	<flow name="post:\resourceFunction:application\json:resource-papi-services-config" doc:id="607e759b-93f2-4dc3-9a93-98a6403a3ad1" >
		<flow-ref doc:name="Flow Reference" doc:id="de36b01c-0728-4591-9da8-9fbcadd11596" name="resource-function-orchestratorSub_Flow"/>
	</flow>
	<flow name="post:\resourceFunction\setWifiPassword:application\json:resource-papi-services-config" doc:id="2dbfb5c1-e474-41f8-a6ea-252b276c3324" >
		<flow-ref doc:name="Flow Reference" doc:id="df387c2a-e41b-4bff-ad14-9cb8fbf6dad3" name="post-resource-function-set-wifi-orchestratorSub_Flow"/>
	</flow>
</mule>
