bot-sapi-services-2/src/main/mule/bot-sapi-services-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="bot-sapi-services-2-main" doc:id="09d264af-a0f1-48c3-a269-491315ca2481" >
		<http:listener doc:name="Listener" doc:id="b819f31a-0c51-47e7-869b-7eb721a1684a" config-ref="bot-sapi-services-2-httpListenerConfig" path="/bot/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Call initial Logger" doc:id="1dc368f1-26e2-4169-b23b-4840da077038" name="initial-loggin-Sub_Flow" />
		<apikit:router doc:id="f0cd6a41-3f4d-4af9-818b-27e6bd02dec9" config-ref="bot-sapi-services-2-config" doc:name="APIkit Router" />
		<async doc:name="Async" doc:id="4a935bde-10e1-4be4-9517-2914c2a8dddb" >
			<flow-ref doc:name="Call logger" doc:id="7d5d7c45-fe47-4843-b08e-83fc474ee06e" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="bot-sapi-services-2-console" doc:id="30148ba0-acb7-4dda-864f-222e9e176143" >
		<http:listener doc:name="Listener" doc:id="2c7b6f8f-f628-4344-8f14-a1906d4f2f5a" config-ref="bot-sapi-services-2-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="8197b96d-e479-47b1-9298-869b3ad397cf" config-ref="bot-sapi-services-2-config" doc:name="APIkit Console" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1bd0f4ae-fa20-4b35-83b1-4d7e646487d1" type="APIKIT:NOT_FOUND" >
				<ee:transform doc:name="Transform Message" doc:id="b1eede04-816e-4aab-b7e7-f826f9eba348" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="post:\soporte1n\setwifinetworkstate:application\json:bot-sapi-services-2-config" doc:id="a121afcd-33c4-460c-9dc2-11f887c9c457" >
		<flow-ref doc:name="Flow Reference" doc:id="aa8081bd-1e77-4233-ae57-9552700a1d75" name="post-soporte1n-setwifinetworkstate-orchestadorSub_Flow"/>
	</flow>
	<flow name="post:\soporte1n\validatelb:application\json:bot-sapi-services-2-config" doc:id="518aaa80-5513-4f1d-80d8-defad0bfad7e" >
		<flow-ref doc:name="Flow Reference" doc:id="5d574160-1f15-46ea-a6ba-d813144b774f" name="post-soporte1n-validatelb-orchestadorSub_Flow"/>

	</flow>
	<flow name="post:\soporte1n\setwifinetworkname:application\json:bot-sapi-services-2-config" doc:id="1e4eb5e4-157a-4fa0-8f1a-ceb4ae86355b" >
		<flow-ref doc:name="Flow Reference" doc:id="0236f3ec-ff39-49ef-b1c9-aa3d957b5371" name="post-soporte1n-setwifinetworkname-orchestadorSub_Flow"/>

	</flow>
	<flow name="post:\services\suspendbytheft:application\json:bot-sapi-services-2-config" doc:id="4ca8ce17-faae-4177-960e-8fdfca7c1fca" >
		<flow-ref doc:name="Flow Reference" doc:id="60bc54a8-a565-4884-b82b-8c8107087e43" name="post-services-suspendbytheft-orchestadorSub_Flow"/>
	</flow>
	<flow name="post:\services\suspendvoluntarily:application\json:bot-sapi-services-2-config" doc:id="28d87548-81a8-43c2-9b2d-fd6107b51f77" >
		<flow-ref doc:name="Flow Reference" doc:id="b4a9dbc8-2d57-4eb6-a78a-5b2782699687" name="post-services-suspendvoluntarily-orchestadorSub_Flow"/>
	</flow>
	<flow name="post:\services\validateimei:application\json:bot-sapi-services-2-config" doc:id="81d082f5-890f-4b76-9843-fe7108c60497" >
		<flow-ref doc:name="Flow Reference" doc:id="ac413176-c2c4-40b8-9a2d-11138d5de90d" name="post-services-validateimei-orchestadorSub_Flow"/>
	</flow>
	<flow name="post:\services\registerdevice:application\json:bot-sapi-services-2-config" doc:id="f1c8be62-512c-4d4d-9642-420381f9c2ff" >
		<flow-ref doc:name="Flow Reference" doc:id="1c26c4c3-90c9-4b3e-bd8b-3e9eb18c0c52" name="post-services-registerdevice-orchestadorSub_Flow"/>
	</flow>
		<flow name="post:\services\suspendbyloss:application\json:bot-sapi-services-2-config" doc:id="a82d7159-85ed-48de-93ed-7ce920346975" >
		<flow-ref doc:name="Flow Reference" doc:id="52d1415d-8035-4027-8aa1-0a887d4ce0f6" name="post-services-suspendbyloss-orchestadorSub_Flow"/>

	</flow>
	<flow name="post:\customers\habeasdata:application\json:bot-sapi-services-2-config" doc:id="3e7fe302-1358-4be5-bff0-0b44314aa0ed">
		<flow-ref doc:name="Flow Reference" doc:id="bbfe6557-4edd-4f23-b91e-48312b2dfc4f" name="post-customer-habeasdata-orchestadorSub_Flow"/>
	</flow>
	<flow name="post:\notifications\sendinfosva:application\json:bot-sapi-services-2-config" doc:id="212dc1e8-3ba2-4919-852b-7d2db265e10f" >
		<flow-ref doc:name="Flow Reference" doc:id="bb7c4036-de1d-4570-8f2c-e45413bcd6e3" name="post-notifications-sendinfosva-orchestadorSub_Flow"/>
	</flow>
	<flow name="post:\notifications\sendnotifyprocedure:application\json:bot-sapi-services-2-config" doc:id="427eef68-816c-4cf5-9a4d-c61780735b86" >
		<flow-ref doc:name="Flow Reference" doc:id="3f5cd5dc-97b4-425f-951b-7cf0bf373213" name="post-notifications-sendnotifyprocedure-orchestadorSub_Flow"/>
	</flow>
	<flow name="post:\mietb\updatepassword:application\json:bot-sapi-services-2-config" doc:id="577bcc09-e0dd-4b6d-9048-3d014efb0a10" >
		<flow-ref doc:name="Flow Reference" doc:id="3fab80f8-1e6b-4256-a506-c29d535486d4" name="post-mietb-updatepassword-orchestadorSub_Flow"/>
	</flow>
</mule>
