business-papi-services-v2/src/main/mule/business-papi-services-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="business-papi-services-main" doc:id="630994ff-3b24-4e82-acc1-d9be37333647" >
		<http:listener doc:name="Listener" doc:id="28b1be28-b5d3-45fb-81b4-63eaf17369d6" config-ref="business-papi-services-v2-httpListenerConfig" path="/v2/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Call initial Logger" doc:id="948a9a2d-0abe-49dc-8d9f-57d4f7110e2b" name="initial-loggin-Sub_Flow" />
		<apikit:router doc:id="420aa789-f236-42e2-9753-143e46f81e47" config-ref="business-papi-services-config" doc:name="APIkit Router" />
		<async doc:name="Async" doc:id="477389a7-08a2-402d-adcb-08969e2ec6e4" >
			<flow-ref doc:name="Call logger" doc:id="e28c9037-c950-48a3-9e72-0afd0977a7b2" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	</flow>
	<flow name="business-papi-services-console" doc:id="cba4eb4f-b821-4a3d-896a-501b9ec9dbf8" >
		<http:listener doc:name="Listener" doc:id="8bba23df-4551-46d0-a362-b36fbd3b83e6" config-ref="business-papi-services-v2-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="bcfceea7-c4ea-441a-92f3-688cc57db2a9" config-ref="business-papi-services-config" doc:name="APIkit Console" />
	</flow>
	<flow name="get:\agreement:business-papi-services-config" doc:id="fe7af667-4a13-4576-80d0-8c80de1dfbe5" >
		<flow-ref doc:name="Flow Reference" doc:id="a3a66abd-c15b-464f-a457-efe8cbd15eea" name="agreement-get-orchestadorSub_Flow"/>
	</flow>
	<flow name="get:\billingAccount:business-papi-services-config" doc:id="c21f2d84-77c8-4e39-a8b2-da4dc98dfcd7" >
		<flow-ref doc:name="Flow Reference" doc:id="04247a59-13b5-42a5-b02b-4a09561fd05f" name="billingAccount-get-orchestadorSub_Flow"/>
	</flow>
	<flow name="post:\partyInteraction:application\json:business-papi-services-config" doc:id="b42bf7df-a50e-4e7a-8e0c-25c9e863dec8">
		<flow-ref doc:name="Flow Reference" doc:id="15a9b908-9e99-47a0-ad9f-7c136b317df9" name="partyInteraction-create-orchestadorSub_Flow"/>
	</flow>
	<flow name="patch:\partyInteraction:application\json:business-papi-services-config" doc:id="ab0db065-774d-4c7c-b5d5-d81faa3828c8">
		<flow-ref doc:name="Flow Reference" doc:id="f33f9319-8615-4ee9-aa59-2cf6708b9744" name="partyInteraction-update-orchestadorSub_Flow"/>
	</flow>
</mule>
