bot-sapi-services/src/main/mule/bot-sapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="bot-sapi-services-main">
        <http:listener config-ref="bot-sapi-services-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Call initial Logger" doc:id="6973c989-7a5f-42db-877d-b6f42f5ff6e6" name="initial-loggin-Sub_Flow"/>
		<apikit:router config-ref="bot-sapi-services-config" />
		<async doc:name="Async" doc:id="fd927111-1331-4bbc-8a5f-ed1b0a30a5e6" >
			<flow-ref doc:name="Call logger" doc:id="37314e24-9db6-4c75-8184-50899734f07d" name="loggin-client-call"/>
		</async>
		<error-handler ref="error-handlerError_Handler" />
    </flow>
    <flow name="bot-sapi-services-console">
        <http:listener config-ref="bot-sapi-services-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bot-sapi-services-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\operations\v1\generateRegisterUrl\(email):bot-sapi-services-config">
		<flow-ref doc:name="Go to Handler" doc:id="8f97af45-260b-4552-9bc4-62bcf257c72e" name="post-generateRegisterUrl-handlerSub_Flow"/>
    </flow>
	<flow name="post:\saleOrder\encripted\v1:application\json:bot-sapi-services-config">
		<flow-ref doc:name="Go to Handler" doc:id="13fec0cc-3aee-441e-8075-e036e3e6f1a4" name="post-saleOrderGetEncripted-handlerSub_Flow" />
    </flow>
	<flow name="post:\parameters\cities\v1:application\json:bot-sapi-services-config" doc:id="cb618f3c-9dc0-4bcf-ac1d-852fd3d928fa">
		<flow-ref doc:name="Flow Reference" doc:id="f1cf5716-631e-43ca-a07a-78b8bb07e1da" name="post-parameters-cities-handlerSub_Flow" />
	</flow>
	<flow name="post:\parameters\departments\v1:application\json:bot-sapi-services-config" doc:id="18a7b740-7018-4619-83b6-ad573bdb56f0" >
		<flow-ref doc:name="Flow Reference" doc:id="a9461915-752f-4c51-b7e9-ca43851096df" name="post-parameters-departments-handlerSub_Flow"/>
	</flow>
	<flow name="get:\parameters\operators\v1:bot-sapi-services-config" doc:id="9c26431c-6b7d-42a0-9197-e14b6ae8c9f3" >
		<flow-ref doc:name="Flow Reference" doc:id="8dd5c782-a055-4b2c-99ab-99457078714a" name="get-parameters-operators-handlerSub_Flow"/>
	</flow>
	<flow name="get:\parameters\businessdays\v1:bot-sapi-services-config" doc:id="3b48878e-e5d4-40da-9e48-4835ecbb967f" >
		<flow-ref doc:name="Flow Reference" doc:id="edac5f88-c1c3-4bf7-98f3-c19da5e43afb" name="get-parameters-businessdays-handlerSub_Flow"/>
	</flow>
	<flow name="get:\parameters\servicestypeportability\v1:bot-sapi-services-config" doc:id="f0fa5623-1d0d-48af-b047-ae60c76d6f1d" >
		<flow-ref doc:name="Flow Reference" doc:id="9a62180e-b5bc-40fa-85d6-fd6e580bac23" name="get-parameters-servicestypeportability-handlerSub_Flow"/>
	</flow>
	<flow name="post:\pqr\reagenda\v1:application\json:bot-sapi-services-config" doc:id="b35ba4b7-4d84-4433-97c4-ad7c75b67bed">
		<flow-ref doc:name="Flow Reference" doc:id="1a6533bb-1e7d-487f-bf25-23a8874b6cf3" name="post-pqr-reagenda-handlerSub_Flow" />
	</flow>
	<flow name="post:\pqr\agendaclose\v1:application\json:bot-sapi-services-config" doc:id="7ac01345-67e1-42c9-9f77-c265a46edff4" >
		<flow-ref doc:name="Flow Reference" doc:id="ed8d0cd9-f088-46f3-bd82-c2e43fcc9c64" name="post-pqr-agendaclose-handlerSub_Flow" />
	</flow>
	<flow name="post:\pqr\create\v1:application\json:bot-sapi-services-config" doc:id="24eedfd7-1753-4e6e-8574-1d0208138972">
		<flow-ref doc:name="Flow Reference" doc:id="60fe1338-be2a-4897-89da-ad881dcb61eb" name="post-pqr-create-handlerSub_Flow" />
	</flow>
	<flow name="post:\pqr\get\v1:application\json:bot-sapi-services-config" doc:id="a942b3f6-c92f-4374-b9c2-c5cf44499932">
		<flow-ref doc:name="Flow Reference" doc:id="0440b493-66ae-4d2c-9717-dcc49cb28b94" name="post-pqr-get-handlerSub_Flow" />
	</flow>
	<flow name="post:\pqr\update\v1:application\json:bot-sapi-services-config" doc:id="cdc9d1b5-8f44-4398-84e2-8e4a87b3bad5">
		<flow-ref doc:name="Flow Reference" doc:id="ddecbb98-bdd9-49a7-b993-cc274ec671dc" name="post-pqr-update-handlerSub_Flow" />
	</flow>
	<flow name="post:\pqr\agenda\v1:application\json:bot-sapi-services-config" doc:id="42a056e0-65eb-4b79-8f54-1954c343aae0">
		<flow-ref doc:name="Flow Reference" doc:id="0548509b-39bf-4870-9273-0ecaaf4fb1a1" name="post-pqr-agenda-handlerSub_Flow" />
	</flow>
	<flow name="post:\orders\v1:application\json:bot-sapi-services-config" doc:id="a1dafed6-03e8-4cd9-b33b-7b954a77c6a2" >
		<flow-ref doc:name="Flow Reference" doc:id="900f3c7e-ab4b-4433-8339-f9ec1f4329fc" name="post-orders-get-handlerSub_Flow" />
	</flow>
	<flow name="post:\orders\relocate\v1:application\json:bot-sapi-services-config" doc:id="a4af074c-305e-4334-b712-f35ec336ab86">
		<flow-ref doc:name="Flow Reference" doc:id="bee4bedc-231f-4c0c-a8b8-45b2d111c299" name="post-orders-relocate-handlerSub_Flow"/>
	</flow>
	<flow name="post:\max\route\v1:application\json:bot-sapi-services-config" doc:id="c380295d-95f8-4d60-a1b2-9c5ff25ddb69" >
		<flow-ref doc:name="Flow Reference" doc:id="5b488c55-ed73-402d-82df-ce4b0ea4cf44" name="post-max-route-handlerSub_Flow" />
	</flow>
	<flow name="post:\whatsapp\getbyphone\v1:application\json:bot-sapi-services-config" doc:id="83c03ff5-a766-4fa7-a90c-0f087beca0c1" >
		<flow-ref doc:name="Flow Reference" doc:id="f5c26f91-d32c-489e-bafe-30514850764f" name="post-whatsapp-getbyphone-handlerSub_Flow" />
	</flow>
	<flow name="post:\whatsapp\update\v1:application\json:bot-sapi-services-config" doc:id="c79eb732-1798-48c6-b7d0-3b0cd5a1e8da">
		<flow-ref doc:name="Flow Reference" doc:id="aea1a897-3314-48d6-8998-4258dacb70b5" name="post-whatsapp-update-handlerSub_Flow" />
	</flow>
	<flow name="post:\customers\settyc\v1:application\json:bot-sapi-services-config" doc:id="ef75e621-c3fc-4d96-91e8-0a3a1fd1edf5" >
		<flow-ref doc:name="Flow Reference" doc:id="234f1ad7-5a73-493d-97c4-2970b8829911" name="post-customers-settyc-handlerSub_Flow" />
	</flow>
	<flow name="post:\customers\mecna\v1:application\json:bot-sapi-services-config" doc:id="eae237de-a0d0-4844-b672-db21b838d81b">
		<flow-ref doc:name="Flow Reference" doc:id="a22a93ad-d83f-4983-949b-ed99fa898f47" name="post-customers-mecna-handlerSub_Flow"/>
	</flow>
	<flow name="post:\scraping\satisfactionsurvey\v1:application\json:bot-sapi-services-config" doc:id="c8973e0e-d0a9-417c-91b3-37ad7dfda4b3" >
		<flow-ref doc:name="Flow Reference" doc:id="d689f412-6918-4bc9-bffd-6692c644bd00" name="post-scraping-satisfactionsurvey-handlerSub_Flow" />
	</flow>
	<flow name="post:\services\getinvoices\v1:application\json:bot-sapi-services-config" doc:id="9cbf6ae9-1d4a-449e-a875-5aff1b602bee">
		<flow-ref doc:name="Flow Reference" doc:id="bd287024-8039-46e6-b5fe-40652a1d5b99" name="post-services-getinvoices-handlerSub_Flow" />
	</flow>
	<flow name="post:\services\reconexion\v1:application\json:bot-sapi-services-config" doc:id="f6f29a79-5a02-4db2-94ab-f0928752ecd4">
		<flow-ref doc:name="Flow Reference" doc:id="13fab494-8412-43f5-86c5-87ef1a13ec9f" name="post-services-reconexion-handlerSub_Flow"/>
	</flow>
	<flow name="post:\services\getbalance\v1:application\json:bot-sapi-services-config" doc:id="27d6d80a-ba3c-4ba6-9be3-ad0795bb6a97">
		<flow-ref doc:name="Flow Reference" doc:id="98b96c40-5168-43fd-a6d0-0249a702cdb7" name="post-services-getbalance-handlerSub_Flow"/>
	</flow>
	<flow name="post:\services\get\v1:application\json:bot-sapi-services-config" doc:id="63663afd-2571-473e-b204-7bb5f4daac5a">
		<flow-ref doc:name="Flow Reference" doc:id="be794e00-60e2-4951-a098-18587d594e98" name="post-services-get-handlerSub_Flow"/>
	</flow>
	<flow name="post:\services\withoutdebt\v1:application\json:bot-sapi-services-config" doc:id="c02f7777-271c-4d3b-8113-ec22e7ad248a">
		<flow-ref doc:name="Flow Reference" doc:id="02e07cef-deff-4b27-8e55-4a50fd522d6c" name="post-services-withoutdebt-handlerSub_Flow"/>
	</flow>
	<flow name="post:\services\whypay\v1:application\json:bot-sapi-services-config" doc:id="43b78787-f27b-453e-90e7-e7a9133fbc71">
		<flow-ref doc:name="Flow Reference" doc:id="34c28bad-0b12-4397-98ce-e8c1b3595451" name="post-services-whypay-handlerSub_Flow"/>
	</flow>
	<flow name="post:\services\requestinvoice\v1:application\json:bot-sapi-services-config" doc:id="17de1f95-ec79-4728-a2bd-fac1e7d11b4d">
		<flow-ref doc:name="Flow Reference" doc:id="3a20535a-158b-4eeb-84b7-7fee353a6594" name="post-services-requestinvoice-handlerSub_Flow"/>
	</flow>
	<flow name="post:\support\init\v1:application\json:bot-sapi-services-config" doc:id="a194a397-f8cd-49f8-9e0e-efd2b4490ebc" >
		<flow-ref doc:name="Flow Reference" doc:id="74cf73e9-482c-4bde-8b15-2f7796dfbdb6" name="post-support-init-handlerSub_Flow" />
	</flow>
	<flow name="post:\soporte1n\normalizeinternet\v1:application\json:bot-sapi-services-config" doc:id="65994476-1d8b-48ca-9aca-b300145e20e4" >
		<flow-ref doc:name="Flow Reference" doc:id="bbe7d397-4761-4718-af79-c6a52ba43c3c" name="post-soporte1n-normalizeinternet-handlerSub_Flow" />
	</flow>
	<flow name="post:\soporte1n\getwifi\v1:application\json:bot-sapi-services-config" doc:id="a2c122ac-2bf0-497c-b75c-7a7981ce6824">
		<flow-ref doc:name="Flow Reference" doc:id="4c3b0b14-f9ca-451d-8fe7-0c84e65bfce8" name="post-soporte1n-getwifi-handlerSub_Flow"/>
	</flow>
	<flow name="post:\soporte1n\validatetv\v1:application\json:bot-sapi-services-config" doc:id="d232621a-961b-4e1b-a0f7-eaf2c43dce71">
		<flow-ref doc:name="Flow Reference" doc:id="e1c9c59f-d690-4d15-9bcf-3878a537a0d9" name="post-soporte1n-validatetv-handlerSub_Flow"/>
	</flow>
	<flow name="post:\soporte1n\normalizetv\v1:application\json:bot-sapi-services-config" doc:id="555f2f25-3a82-400c-a056-9b389ccd85ab">
		<flow-ref doc:name="Flow Reference" doc:id="bd6dcd2e-dcf6-43e5-a3bb-10a9ea17f6f8" name="post-soporte1n-normalizetv-handlerSub_Flow"/>
	</flow>
	<flow name="post:\soporte1n\setwifinetworkpassword\v1:application\json:bot-sapi-services-config" doc:id="7a3c8cbf-7259-486b-8d0f-daef382a603e">
		<flow-ref doc:name="Flow Reference" doc:id="46529a8c-9b3f-4897-9694-807fe5a25a3b" name="post-soporte1n-setwifinetworkpassword-handlerSub_Flow"/>
	</flow>
	<flow name="post:\soporte1n\normalizelb\v1:application\json:bot-sapi-services-config" doc:id="d95f8fa7-c600-45d0-80f1-7b64acaed6b3">
		<flow-ref doc:name="Flow Reference" doc:id="a1437165-eb7c-4776-9117-edb70827e5da" name="post-soporte1n-normalizelb-handlerSub_Flow"/>
	</flow>
	<flow name="post:\mietb\authmail\v1:application\json:bot-sapi-services-config" doc:id="762f4304-06d5-46b2-8494-2e5c29b5a011" >
		<flow-ref doc:name="Flow Reference" doc:id="7a66246c-e551-4ccb-af08-2f5044953c02" name="post-mietb-authmail-handlerSub_Flow" />
	</flow>


</mule>
