appointment-management-xapi-services/src/main/mule/appointment-management-xapi-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="appointment-management-xapi-services-main" doc:id="f93a7685-fb92-40a0-ae53-822ac64bcbdf" >
		<http:listener doc:name="Listener" doc:id="e4907c54-c5a3-4306-8ea2-863bb8a8b86e" config-ref="appointment-management-xapi-services-httpListenerConfig" path="/v1/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Call initial Logger" doc:id="a1aa885e-090b-418c-bcb1-8f3f2c66fb5f" name="initial-loggin-Sub_Flow" />
		<apikit:router doc:id="e9d3a818-260e-42ef-bef2-c82d032702cb" config-ref="appointment-management-xapi-services-config" doc:name="APIkit Router" />
		<async doc:name="Async" doc:id="6147c013-c2f2-42b8-bdaf-8f632502c35e" >
			<flow-ref doc:name="Call logger" doc:id="10b909b0-afdc-48c2-a8c4-5cc81d8cec20" name="loggin-client-call" />
		</async>
		<error-handler ref="error-handlerError_Handler" />
	
</flow>
	<flow name="appointment-management-xapi-services-console" doc:id="159e2fbd-3c93-496f-9482-cc85acfab88d" >
		<http:listener doc:name="Listener" doc:id="967df334-ac0d-4451-b371-32b66a416443" config-ref="appointment-management-xapi-services-httpListenerConfig" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console doc:id="6066c682-bd8b-42b6-aa0b-7ae5b50a1635" config-ref="appointment-management-xapi-services-config" doc:name="APIkit Console" />
	</flow>
	<flow name="patch:\appointment\(id):application\json:appointment-management-xapi-services-config" doc:id="432bd1e9-8288-4f14-a229-1ea24eade9b7" >
		<flow-ref doc:name="Flow Reference" doc:id="01ea588e-dabb-47a2-a9b2-a070cf181897" name="pqr-validateStatus-orchestadorSub_Flow"/>
	</flow>
	<flow name="get:\appointment\(id):appointment-management-xapi-services-config" doc:id="87e506ed-1716-44d2-915d-53724c459754" >
		<flow-ref doc:name="Go to Handler" doc:id="40b5281f-a263-4fe5-acf2-d80dff195006" name="get-appointment-id-orchestadorSub_Flow" />
	</flow>
	<flow name="get:\searchTimeSlot:appointment-management-xapi-services-config" doc:id="72c05c96-58ac-4dd6-865f-af3b937b8bda">
		<flow-ref doc:name="Go to Handler" doc:id="fe694a43-f82a-44b8-b70d-898c40fde8c5" name="get-searchTimeSlot-orchestador" />
	</flow>
	<flow name="post:\appointment:application\json:appointment-management-xapi-services-config" doc:id="c889b8ac-cec6-414d-bc58-266bfed4b7a1" >
		<flow-ref doc:name="Flow Reference" doc:id="a25ee605-ca52-41be-8ca4-1a56d57f3e3f" name="post-appointment-orchestratorSub_Flow"/>
	</flow>
</mule>
